<style>
  body { background-color: #161616; color: #f0f0f0; font-family: sans-serif; overflow-x: hidden; }
  a,p { padding: 0.5em; color: #f0f0f0; }
  h1,h2,h3,h4,h5,h6 { all: unset; }
  iframe,img,video { max-width: 100%; }
  body>header{ position: absolute; top: 0; width: 100%; }
  .container { max-width: 80%; }
  .container-fluid { max-width: 95%; }
  .container, .container-fluid { margin: 0 auto; }
  
  .icon { fill: #f0f0f0; }
  .grid { display: flex; }
  .grid.\-vertical { flex-direction: column; }
  .grid.\-between { justify-content: space-between; }
  .grid.\-around { justify-content: space-around; }
  .grid.\-middle { align-items: center; }
  
  .columns2 { columns: 2; column-gap: 2em; }
  .columns3 { columns: 3; column-gap: 1em; }
  
  .section {  position: relative; width: 100%; min-height: 100vh; 
              display: flex; flex-direction: column; justify-content: center; }
  .section > article {
    min-height: 100vh;
    height: 100%;
    padding: 0 2em;
  }
</style>