{{ $section := .contained | default true }}
{{ $colorscheme := .colorscheme | default "default" }}
{{ if $section }}
<section class="more-list colorscheme:{{ $colorscheme }}">
    <article class="container w100">
{{ end }}

        {{ if .title }}
            <h1 class="title align:center anim appearFromBottomCropped"><span>{{.title}}</span></h1>
        {{ end }}

        {{ $list_klass := .class | default "list-cards" }}
        {{ $hover_size := .hover_size | default "1.05"}}
        <ul class="{{ $list_klass }} clean grid :horizontal anim appearItemsFromBottom ">
            {{- range .list }}
                <li class="cell">
                    {{ $thumbscheme := .Params.thumbscheme }}
                    <a class="card app-card {{ $thumbscheme }}" 
                       href="{{ .Permalink }}"
                       data-tilt data-tilt-max="5" 
                       data-tilt-speed="800" 
                       data-tilt-scale="{{ $hover_size }}" 
                       >
                        <div class="thumbnail">
                            <img 
                            src="{{ .Params.thumbnail }}" 
                            lazyload
                            {{ if .Params.thumb_position }}
                                style="object-position: {{ .Params.thumb_position }}; "
                            {{ end }}
                            />
                        </div>
                        <div class="listitem__info">
                            <h3 class="title">{{ .Title }}</h3>
                            <p class="subtitle">{{ .Params.subtitle }}</p>
                        </div>
                    </a>
                </li>
            {{- end }}
        </ul>

{{ if $section }}
    </article>
</section>
{{ end }}