<section class="section contact">
  <article class="content-body container grid -vertical -middle -around">
    <header>
      <div class="btn txt fz -medium">Contact</div>
    </header>
    <a href="mailto: bb.fc@gmail.com" class="picture image-txtoverlay nostyle">
      <img src="/images/old-computer.jpg" lazyload/>
      <h1 class="label fz -huge">bb.fc@gmail.com</h1>
    </a>
    <nav class="social-links grid -middle -around fz -medium">
      <a href="facebook.com/"><span class="icon" data-icon="ei-sc-facebook" data-size="m" /></a>
      <a href="github.com"><span class="icon" data-icon="ei-sc-github" data-size="m" /></a>
    </nav>
  </article>
</section>