<section class="contact bg:second">
  <article class="container grid :vertical :middle :around txt-center">
    <header>
      <div class="btn :txt">Contact</div>
    </header>
    <a href="mailto: bb.fc@gmail.com" class="picture">
      <img src="/images/old-computer.jpg" lazyload/>
      <h1 class="label abscenter">bb.fc@gmail.com</h1>
    </a>
    <nav class="social-links grid :middle :around">
      <a href="facebook.com/"><span class="icon" data-icon="ei-sc-facebook" data-size="m" /></a>
      <a href="github.com"><span class="icon" data-icon="ei-sc-github" data-size="m" /></a>
    </nav>
    
  </article>
</section>