<ul class="grid :horizontal :middle clean">
    <li>
        <div class="title">Contact</div>
        <a href="" peculiarity="link-encrypted" data="ymuxfa:hufad.omvgxqdu@symux.oay">
            <span class="ceasar says">hufad.omvgxqdu@symux.oay</span>
        </a>
    </li>
    <li>
        <div class="title">Social</div>
        <a href="http://github.com/barrabinfc">Github</a>
    </li>
    <li class="align:right pull:right">
        <a href="http://github.com/barrabinfc" class="icon icon--m">
            <svg class="icon__cnt"><use xlink:href="/images/_svgicons.svg#ei-sc-github-icon"></use></svg>
        </a>
        <a href="http://github.com/barrabinfc" class="icon icon--m">
            <svg class="icon__cnt"><use xlink:href="/images/_svgicons.svg#ei-envelope-icon"></use></svg>
        </a>
    </li>
</ul>