{{ $currentNode := . }}
{{ $navModifier := .Scratch.Get "navModifier" }}
<nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="menu {{ $navModifier }}">

  {{ range .Site.Menus.main }}
    {{ $is  := $currentNode.IsMenuCurrent "main" . }}
    {{ $has := $currentNode.HasMenuCurrent "main" . }}

    <div class="menu-header hoverable 
                {{ if $has }}selected{{end}}
                {{ if .HasChildren }}has-submenu header-anim-growTooltip {{else}}is-link{{end}}"
                id="menu-{{ .Identifier }}">
      {{ if .HasChildren }}
        <h5 class="title"><a href="{{ .URL }}">{{trim .Name " "}}</a></h5>
        <ul class="sub-menu">
        {{ range .Children }}
            <li>→ <a href="{{.URL}}" class="default"> {{ .Name }} </a> </li>
        {{ end }}
        </ul>
      {{ else }}
        <h5 class="title"> <a href="{{ .URL }}">{{trim .Name " "}}</a></h5>
      {{ end }}
    </div>
  {{ end }}

</nav>
