<style>
  /**
   * Global style
   */
  :root {
    --front:     {{ safeCSS (default $.Site.Params.colors.black .Params.color) }};
    --back:      {{ safeCSS (default $.Site.Params.colors.white .Params.bg_color) }};
    --primary:   {{ safeCSS (default $.Site.Params.colors.primary .Params.primary) }};
  }

/*
  main {
    background-color: var(--back);
    color: var(--front);
  }

  body > header {
    background-color: var(--front);
    color: var(--back);
  }

  a.btn {
    color: var(--black);
    fill: var(--black);
   }
   a.btn:hover {
     background-color: var(--black) !important;
     color: var(--white) !important;
   }
*/

</style>
