<style>
  /**
   * Global style
   */
  :root {
    --black: {{ safeCSS .Params.color }};
    --white: {{ safeCSS .Params.bg_color }};
  }

  main { 
    background-color: {{ safeCSS .Params.bg_color }};
    color: {{ safeCSS .Params.color }};
  }
  .color-high {
    color: {{ safeCSS .Params.high_color }} !important;
  }

  a.btn {
    color: var(--black);
    fill: var(--black);
    /*
    color: {{ safeCSS .Params.color }};
    fill: {{ safeCSS .Params.color }};
    */
   }
   a.btn:hover {
     background-color: var(--black) !important;
     color: var(--white) !important;
   }

  
  /**
   * apps/Blog pages 
   **/
  
  /* Menu hover invert */
  body.blog .menu-header::before,
  body.blog .menu-header::after,
  body.apps .menu-header::before , 
  body.apps .menu-header::after {
    background-color: {{ safeCSS .Params.color }} !important;
  }
  
  body.blog #menu .selected > a ,
  body.apps #menu .selected > a {
    background-color: {{ safeCSS .Params.color}} !important; 
    color: {{ safeCSS .Params.bg_color }} !important;    
  }

  body.blog .menu-header.has-submenu:hover > a,
  body.blog .menu-header.is-link:hover > a,
  body.apps .menu-header.has-submenu:hover > a,
  body.apps .menu-header.is-link:hover > a {  
    background-color: {{ safeCSS .Params.color}} !important; 
    color: {{ safeCSS .Params.bg_color }} !important;
  }

  body.blog #menu .menu-header .sub-menu,
  body.apps #menu .menu-header .sub-menu {
    background-color: {{ safeCSS .Params.color }} !important;
    color: {{ safeCSS .Params.bg_color }} !important;
  }
  
  /**
   * Work&About pages 
   **/
   body.work #menu , 
   body.about #menu {
     background-color: {{ safeCSS .Params.color }};
     color: {{ safeCSS .Params.bg_color }};
     fill: {{ safeCSS .Params.bg_color }};
   }
   body.work .menu-header,
   body.about .menu-header {
     background-color: {{ safeCSS .Params.bg_color }};
     color: {{ safeCSS .Params.color }};
   }
   body.work .menu-header.selected ,
   body.about .menu-header.selected {
     transform: translate3d(0,0,50px);
     border-color: {{ safeCSS .Params.bg_color }};
     background-color: {{ safeCSS .Params.color }};
     color: {{ safeCSS .Params.bg_color }};
   }

   /** Hover **/
   body.work #menu .menu-header:hover,
   body.about #menu .menu-header:hover {
     transform: translate3d(0,0,50px);
     border: 1px solid {{ safeCSS .Params.bg_color }};
     background-color: {{ safeCSS .Params.color }};

     color: {{ safeCSS .Params.bg_color }};
   }


   body.work #menu .menu-close, 
   body.about #menu .menu-close  {
     border-color: {{ safeCSS .Params.bg_color }};
   }
   body.work #menu .menu-close:hover ,
   body.about #menu .menu-close:hover {
     background-color: {{ safeCSS .Params.bg_color }};
     color: {{ safeCSS .Params.color }};
     fill: {{ safeCSS .Params.color }};
   }
   body.work #menu .selected > a ,
   body.about #menu .selected > a {
     background-color: transparent;
     color: inherit;
   }
   
   
   /* Footer navigation */
   ul.featured.bordered {
    border-color: {{ safeCSS .Params.color }}     
   }
   ul.featured.bordered a {
    color: {{ safeCSS .Params.color }};
    fill: {{ safeCSS .Params.color }};
   }
   ul.featured.bordered a:hover {
     background-color: {{ safeCSS .Params.color }} !important;
     color: {{ safeCSS .Params.bg_color }} !important;
   }
   
   /*
   body.work #content-body ul[role="nav"] {
     border-color: {{ safeCSS .Params.color }}
   }
   body.work #content-body ul[role="nav"] a {
     color: {{ safeCSS .Params.color }};
   }
   body.work #content-body ul[role="nav"] a:hover {
     background-color: {{ safeCSS .Params.color }} !important;
     color: {{ safeCSS .Params.bg_color }} !important;
   }
   */
</style>
