<style>
  /**
   * Global style
   */
  :root {
    --front: {{ safeCSS .Params.color }};
    --back: {{ safeCSS .Params.bg_color }};
    --primary: {{ safeCSS .Params.primary }};
    --dark-gray: {{ safeCSS .Params.dark_gray}};
  }

  main {
    background-color: var(--back);
    color: var(--front);
  }

  /* Invert header colors */
  body > header {
    background-color: var(--front);
    color: var(--back);
  }

  a.btn {
    color: var(--black);
    fill: var(--black);
   }
   a.btn:hover {
     background-color: var(--black) !important;
     color: var(--white) !important;
   }

</style>
