@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes a {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}


/** 
 * Transition
 **/
:root {
  --transition-shrinkTooltip {
    height: 2px;
    width: 150%;
    opacity: 0;
  }
}
@keyframes shrinkTooltip {
  from { height: 150px; width: 150%; }
  to { height: 2px; width: 150%; opacity: 0; }
}

@keyframes growTooltipLeft {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 150%;
    height: 2px;
  }
  100% {
    right: 50%;
    width: 150%;
    height: 150px;
  }
}
@keyframes growTooltipRight {
  0% {
    width: 0%;
    left: 50%;
    height: 2px;
  }
  50% {
    width: 150%;
    height: 2px;
  }
  100% {
    left: 50%;
    width: 150%;
    height: 150px;
  }  
}


/** 
 *  Enable header-anim-growTooltip only in project pages
 */
body.software {
  
  /* Grow a underscore */
  & .header-anim-growTooltip {
    
    /* left */
    &:before {
      content: ' ';
      background-color: var(--black);
      width: 0%;
      right: 50%;
      top: 1.7em;
      height: 2px;
      position: absolute;
      
      z-index: 0;
      transition: width 0.5s var(--trans-easing);
    }
    
    /* right */
    &:after {
      content: ' ';
      background-color: var(--black);
      width: 0%;
      left: 50%;
      top: 1.7em;
      height: 2px;
      position: absolute;

      z-index: 0;
      transition: width 0.5s var(--trans-easing);
    }
    
    & .sub-menu {
      max-height: 0px;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      transition: max-height 0.5s 0.5s var(--trans-easing), 
                  opacity 0.25s 0.5s var(--trans-easing);
    }
    
    /* States of animation */
    &:hover {
      &:before {
        width: 150%;
      }
      &:after {
        width: 150%;
      }
      & .sub-menu {
        visibility: visible;
        opacity: 1;
        max-height: 500px;
      }
    }
    
  }
}