@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes a {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}


@keyframes shrinkTooltip {
  from { height: 150px; width: 150%; }
  to { height: 2px; width: 150%; opacity: 0; }
}

@keyframes growTooltipLeft {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 150%;
    height: 2px;
  }
  100% {
    right: 50%;
    width: 150%;
    height: 150px;
  }
}
@keyframes growTooltipRight {
  0% {
    width: 0%;
    left: 50%;
    height: 2px;
  }
  50% {
    width: 150%;
    height: 2px;
  }
  100% {
    left: 50%;
    width: 150%;
    height: 150px;
  }  
}


/** 
 *  Enable header-anim-growTooltip only in project pages
 */
body.software {
  
  /* Grow a underscore */
  & .header-anim-growTooltip {
    &:before {
      content: ' ';
      background-color: var(--black);
      width: 0%;
      right: 50%;
      top: 1.7em;
      height: 2px;
      position: absolute;
      
      z-index: 0;
      animation-play-state: paused;
    }
    
    &:after {
      content: ' ';
      background-color: var(--black);
      width: 0%;
      left: 50%;
      top: 1.7em;
      height: 150px;
      position: absolute;

      z-index: 0;
      animation-play-state: paused;
    }
    
    /* States of animation */
    &.in {
      &:before {
        animation: growTooltipLeft 1.0s var(--trans-easing);
        animation-play-state: running;
        animation-fill-mode: both;
      }
      &:after {
        animation: growTooltipRight 1.0s var(--trans-easing);
        animation-play-state: running;
        animation-fill-mode: both;
      }
    }
    
    &.out {
      &:before {
        animation: shrinkTooltip 0.5s var(--trans-easing);
        animation-play-state: running;
      }
      &:after {
        animation: shrinkTooltip 0.5s var(--trans-easing);
        animation-play-state: running;      
      }
    }
  }
}