/**
 * General transition
 */
.animated {
  transition: opacity var(--trans-time) var(--trans-easing),
              color var(--trans-time) var(--trans-easing),
              background-color var(--trans-time) var(--trans-easing),
              transform var(--trans-time) var(--trans-easing-elastic);  
}

@keyframes fade-in {
  0% { transform: translate3d(0,300px,0); }
  100% { transform: translate3d(0,0px,0); }
}
@keyframes fade-out {
  0% { transform: translate3d(0,0,0px); }
  100% { transform: translate3d(0,-300px,0); }
}


/**
 * General animations for page-in and page-out
 */
#page-trans-wrapper {
  perspective: var(--perspective);
  transform-style:  preserve-3d;
}
.page-container  {
  width: 100%;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
}
.page-in { 
  animation: fade-in .550s ease; 
  animation-fill-mode: both; 
}
.page-out { animation: fade-out .550s ease; animation-fill-mode: both; }


@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-anim {
  animation: intro 1s;
}


@keyframes appearFromBottom {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0px); }
}
.appearFromBottom {
  animation: appearFromBottom 0.55s var(--trans-easing);
  animation-fill-mode: both;
  animation-play-state: paused;
  
  &.\:play { animation-play-state: running; }
}



@keyframes appearFromBottomCropped {
  0% { transform: translateY(150px); }
  100% { transform: translateY(0px); }
}
.appearFromBottomCropped {
  overflow: hidden;

  & > span {
    display: block;
    animation: appearFromBottomCropped 0.55s var(--trans-easing);
    animation-fill-mode: both;  
    animation-play-state: paused;
  }

  &.\:play { 
    & > span { animation-play-state: running; }
  }
}
