/**
 * Colorscheme
 */

.dark {
  color: #fff;
}

.light {
  background-color: #f0f0f0;
  color: #000;
  
  &:after {
    background: #f0f0f0 url("../images/grid-24x16-black.png") repeat;
    opacity: 0.4;
  }
  
  & .menu .menu-item:after {
    background-image: svg-load("../inline-svg/oblique-stripe-black.svg",fill=transparent)
  }
}