/*
 * Apply rules
 */
:root {

  --hero-font: {
    font-family: 'FuturaStd', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  };

  --code-font: {
    font-family: 'Share Tech Mono', monospace;
    /*font-family: SFMono-Regular, source-code-pro, Menlo, Monaco, Consolas, Roboto Mono, Droid Sans Mono, Liberation Mono, Courier New, Courier, monospace; */
    font-weight: 400;
  };

  --paragraph-font: {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;*/
    /*font-family: 'Source Sans Pro', Helvetica Neue, sans-serif;*/
  };
  
  --grid-background: {
    position: absolute;
    overflow: hidden;
    top: 0; left: 0;
    width: 100%;
    min-height: 10%;
    height: 100%;
    opacity: 0.05;
    z-index: -10;
    background: var(--black) url("../images/grid-24x16.png") repeat;
  };
  
  /*
   * Animation/transition
   */
  --transition: {
    transition: var(--trans-props) var(--trans-time) var(--trans-easing);
  }
  
  /*
   * Useful rules
   */
  --nostyle { all: unset; }
  --abs {
    position: absolute;
    top: 0px; left: 0px;
  }
  --sticky {
    position: absolute;
    top: 0;
  }
  --empty {
    content: ' ';
    pointer-events: none;
  }
  --text-masked {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  --grid {
    display: flex;
    flex-wrap: wrap;
  }
  --grid-horizontal { flex-direction: row; }
  --grid-vertical   { flex-direction: column; }
  --grid-top { align-items: flex-start; }
  --grid-middle { align-items: center; }
  --grid-bottom { align-items: flex-end; }
  --grid-baseline { align-items: baseline; }

  --grid-around { justify-content: space-around; }  
  --grid-between { justify-content: space-between; }
  
  /* absolute center */
  --abscenter {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
}