@import "variables.css";
@import "rules.css";

hr {
  border: 0;
  border-bottom: 1px solid var(--gray);
}

pre {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}

code, pre, pre code {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
  @apply --code-font; 
}

blockquote { 
  width: 100%; 
  margin: 1em auto; 
  font-size: 2em; 
  line-height: 1.5em;
  text-align: center;
}
blockquote > p { margin: 0; }


a { text-decoration: none; color: var(--second); }
a:hover { text-decoration: underline; }
a.no-hover:hover { text-decoration: none; }

a.default {
  position: relative;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
a.black {
  color: var(--black);
}
a.no-underline {
  &:hover { text-decoration: none !important; }
}
a.underline {
  text-decoration: underline;
}


/** 
 * A links without default style
 */
a.clean {
  margin: inherit;
  padding: inherit;
}


/*
 * Lists
 */
ul {
  margin: 0;
  list-style: none;
  padding: 0;
  & li { 
   padding: 0;
  }
}

ul.horizontal {
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  
  & li {
    display: table-cell;
    border-color: inherit;
  }
}

ul.as-table {
  display: table;
  border-collapse: collapse;
  text-align: left;
  & li {
    display: table-cell;
    border-color: inherit;
    border: 1px solid;
  }
}

ul.as-flex-table {
  display: flex;
  flex-wrap: wrap;

  &\:bordered {
    & li {
      border: 1px solid;
    }
  }

  & li {
    width: 100%;
    display: flex;
    align-items: center;

    &:first-child { border-bottom: 0; }
    &:last-child { border-top: 0; }  
  }

  & .value , & .label {
      padding: 0 2em;
      display: block;
      width: 100%;
      line-height: 2em;
      text-transform: uppercase;
      @apply --code-font;

      font-size: 1.0rem;
      font-weight: 700;
  }
    
  & .label {
      font-weight: 700;
      font-size: 0.8rem; 
      border-bottom: 1px solid var(--dark-gray);
  }
}



/**
 * Bordered featured list, with first/last without padding
 */
ul.featured.bordered {
  & li {
    border: 1px solid;
    
    /* Links of menu */
    & a { 
      display: block;
      margin: 0em;
      padding: 1rem;
      @apply --hero-font;
      font-weight: bold;

      &:hover {
        background-color: #fff;
        color: #000;
      }

      /* First&Last are next/previous */
      &:first-child ,
      &:last-child { padding: 1em 0em; }
    }
  }
}


.float\:left { float: left; }
.float\:right { float: right; }
.pull\:left { margin-right: auto; }
.pull\:right { margin-left: auto; }
.align\:left { text-align: left; }
.align\:right { text-align: right; }

.w5  { max-width: 5%; }
.w10 { max-width: 10%; }
.w33 { max-width: 33%; }
.w25 { max-width: 25%; }
.w40 { max-width: 40%; }
.w45 { max-width: 45%; }
.w50 { max-width: 50%; }
.w70 { max-width: 70%; }
.w90 { max-width: 90%; }
.w100 { max-width: 100%; }

.txt\:mask { @apply --text-masked; }
.txt\:big  { font-size: 2em; line-height: 1em; }
.txt\:hero { font-size: 4rem; line-height: 2em; }

.subtitle { color: var(--dark-gray); }

.bg\:primary{ background-color: color( var(--primary) alpha(80%)); }      
.bg\:second { background-color: color( var(--second) alpha(80%)); }

.color-high { color: var(--primary); }
.color-low { color: var(--second); }

.nomargin { margin: 0; padding: 0; }
.rounded { border-radius: 2em; }

.bordered { border: 1px solid;  }
.hero { @apply --hero-font; }

/* Apply margin-top iof header size */
.\:header-margin {
  margin-top: var(--header-height);
}


/*
 * General components
 */
.btn {
  @apply --transition;
  
  color: var(--white);
  padding: var(--gutter) calc(2*var(--gutter));
  
  &:hover { color: var(--black); }
  &:after { all: unset; }
  
  &\:txt {
    display: inline-block;
    margin: 0px auto;
    text-transform: uppercase;
  }
  
  &.\:primary {
    background-color: var(--primary);
    color: var(--white);
    fill: var(--white);
  }
  
}



/*
 * Top Menu
 */
header[role="header"] {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  padding: 0 calc( 2 * var(--pad-big));
  z-index: 1000;

  /* Invert colors */
  background-color: var(--back);
  color: var(--front );
  box-shadow: 0 -10px 30px rgba(0,0,0,.4);
    
  display: flex;
  align-items: center;
  justify-content: space-between;

  perspective: 800px;

  @apply --transition;
  transition-duration: 0.65s;

  /* Shrink menu*/
  &.shrink{ height: calc( 3/4 * var(--header-height)); }

  & .logo-container {
    flex: 0.2;

    & .logo {
      @apply --hero-font;
      font-size: 2.0rem;
      font-weight: bold;

      display: inline-block;
      width: 100%;
      color: inherit;
            
      padding-left: 0;    
      margin: 0;  
    }
  
    & .menu-close { display: none; }      
  }
  
  /* Navigation */    
  & .menu {
    flex: 0.5;
    
    display: flex;
    justify-content: space-between;
  
    /* Menu */
    & .menu-header {
      position: relative;
      background-color: transparent;

      vertical-align: baseline;
      z-index: 10;

      @apply --hero-font;
      font-size: calc( var(--perfect-fifth) * 1rem);
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: inherit;

      padding: 1rem;
      /** Avoid last link to have a right margin, 
          making it container alignment easier */
      &:last-child { margin-right: 0; }
      
      border: 1px solid transparent;
      margin-bottom: 1rem;

      @apply --transition;

      /** Icons */
      & ::before {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        font-size: 2rem;
      }

      /** Underscore decoration */
      &::after {
        position: absolute;
        content: ' ';
        
        width: 0%;
        height: calc( var(--gutter) * 0.5 );
        left: 0;
        bottom: 0;

        background-color: transparent;
        @apply --transition;
        transition-duration: 0.35s;
      }


      /** Selected/hover states **/
      &.selected {
        &::after {
          width: 100%;
          background-color: var(--primary);
        }
      }

      &:hover {
        text-decoration: none;

        &::after {
          width: 100%;
          background-color: color( var(--third) lightness(60%));
        }
      }
      
    }
  }

}

/** Footer */
footer[role="footer"] {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  padding: 0 calc( 2 * var(--pad-big));
  z-index: 1000;

  /* Invert colors */
  border-top: 1px solid var(--gray);
  background-color: var(--back);
  color: var(--front );
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  & ul { width: 100%; height: inherit; }
  & ul li { 
    flex: 0.2;
  }

  & .title {
    @apply --hero-font;
    font-weight: 100;
    font-size: calc( 0.8rem * var(--perfect-fifth));
    text-transform: capitalize;

    font-weight: 100;
    color: var(--rly-dark-gray);
    margin: 0.5em 0;
    padding: 0;
  }

  & a {
    font-size: 14px;
    color: var(--dark-gray); 
    margin: 0;
    padding: 0;
  }
}


/*
 * A block full page
 */
.page-container > section {
  position: relative;
  width: 100%;
  min-height: calc( 100vh - var(--header-height));
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
    
  /*
   * Content of pages
   */
  & > article {
    min-height: calc( 100vh - var(--header-height));
    height: 100%;
    padding: 2em calc( 4 * var(--gutter));

    & > h1:first-child , & > h2:first-child, \
    & > h3:first-child , & > h4:first-child, \
    & > h5:first-child , & > h6:first-child {
      padding-top: 0;
    }
    
    ul {
      margin-left: calc(2*var(--gutter));
    }
  }

}


/*
 * Feature headlines
 */
.featured {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  
  & picture {
    display: block;
    position: relative;
    
    & img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  
  & .headline {
    @apply --abs;
    top: 25%;
    width: 95%;
    height: 50%;
    @apply --grid;
    flex-wrap: nowrap;
    @apply --grid-vertical;
    @apply --grid-middle;
    @apply --grid-around;
    text-align: center;
    
    & .title {
      @apply --hero-font;
      font-weight: bold;
      font-size: calc(1rem * 10 * var(--perfect-fifth));
      text-transform: uppercase;
      text-shadow: var(--shadow);
    }
    & .subtitle  {
      @apply --hero-font;
      font-weight: bold;
  
      text-transform: none;  
      margin: 0px auto;
      text-shadow: var(--shadow);
    }
    
    /* String is just outline with some pattern */
    & strong {
      -webkit-text-stroke-color: var(--white);
      -webkit-text-stroke-width: 2px;
      -webkit-background-clip: text;
      color: transparent;
      text-shadow: none;
      background-color: color( var(--black) alpha(50%));
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='transparent'/> <rect width='1' height='1' fill='#ccc'/></svg>")
    }

  }
  
}



/*
 * Image with a text overlay
 */
.picture {
  position: relative;
}


/*
 * Cellphone mask
 */
.cellphone-mask {
  position: relative;
  overflow: hidden;
  min-width: 280px;
  min-height: 440px;
  max-width: 568px;
  max-height: 880px;
  zoom: 1.0;

  &:after {
    content: ' ';
    z-index: 10;
    position: absolute;
    top: 0; left: 0;
    
    background-size: contain;
    background-image: url(../images/cellphone-mask.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
  }
  
  & > .cellphone-screen {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 380px;
    z-index: 5;
    
    & > * {
      position: absolute;
      top: 66px;
      left: calc(42px);
      width: 196px;
      border: 0;
    }
  }
}


/**
 * Browser mask
 */
 .browser-mask {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 2em;
   height: 100vh;
      
   & > .browser-screen {
     position: relative;
     overflow: hidden;
     width: 80%;
     height: 70%;
     z-index: 5;
     margin: 0px auto;
     box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
     border-radius: 5px;
     
     &:after {
       content: ' ';
       z-index: 10;
       position: absolute;
       top: 0; left: 0;
       background-size: cover;
       background-image: url(../images/browser-window.png);
       background-repeat: no-repeat;
       height: 100%;
       width: 100%
     }

     
     & > img {
       position: relative;
       object-fit: cover;
       width: 100%;
       height: calc(100% - 2.5vw);
       top: 2.5vw;
     }
   }
 }

