@import "variables.css";

hr {
  border: 0;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  margin: 1em 0;
}

dt { 
  font-weight: bold; 
  font-size: calc( 1.rem * var(--typoscale)); 
  font-family: var(--hero-font);
}
dd {
  margin-bottom: 1.625em;
}


/*
 * Default Lists with numbering
 */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: list-counter;

  & li { 
   padding: 0;
   counter-increment: list-counter;
   margin-bottom: var(--gutter);
      
   & > p:first-child {
    display: inline-block;
    margin-bottom: var(--gutter);
   }
  }

  & li::before {
    content: counter(list-counter) '.';
    font-family: var(--hero-font);
    font-size: 1.66rem;
    margin-right: var(--gutter);
    line-height: 1em;
  }
}

/* Nested lists */
ul > li > ul ,
ol > li > ul , 
ol > li > ol , 
ol > li > *:not(:first-child) ,
ul > li > *:not(:first-child) {
  margin-left: calc( 2.0rem + var(--gutter));
  margin-bottom: var(--gutter);
  /* Decrease list number size */
  & > li::before {
    font-size:  1.0rem;
  } 
}

ul.horizontal {
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  
  & li {
    display: table-cell;
    border-color: inherit;
  }
}

ul.as-table {
  display: table;
  border-collapse: collapse;
  text-align: left;
  & li {
    display: table-cell;
    border-color: inherit;
    border: 1px solid;
  }
}


ul.task-list {
  & li {
    padding-left: calc(var(--gutter));
  }
  & li::before {
    display: none;
  }
  & input[type="checkbox"] {
    margin-right: calc(2*var(--gutter));
  }
}


.txt\:mask { 
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: var(--hero-font);
  font-weight:bold;
}
.txt\:big  { font-size: 2em !important; line-height: 1em !important; }
.txt\:hero { font-size: 4rem !important; line-height: 2em !important; font-weight: bold; font-family: var(--hero-font);}
.caption { font-style: italic !important; font-size: 85% !important; }

.bg\:primary{ background-color: color-mod( var(--primary) alpha(80%)) !important; }      
.bg\:second { background-color: color-mod( var(--second) alpha(80%)) !important; }

.color\:primary { color: var(--primary) !important; }
.color\:second { color: var(--second) !important; }
.color\:third { color: var(--third) !important; }

.pad { padding: var(--pad); }
.pad\:big { padding: var(--pad-big); }

.bordered { border: 1px solid;  }

/* Apply margin-top iof header size */
.\:header-margin {
  margin-top: var(--header-height);
}


/*
 * General components
 */
.btn {
  
  cursor: pointer;
  color: var(--front);
  padding: var(--gutter) calc(2*var(--gutter));
  transform: translate3d(0,0,0) scale(1.0);
  background-color: var(--light-gray);

  &:after { all: unset; }

  transition: color var(--trans-time) var(--trans-easing-elastic),
              background-color var(--trans-time) var(--trans-easing-elastic),
              transform var(--trans-time) var(--trans-easing-elastic);
  
  &:hover { color: var(--back); }
  &:active { transform: scale(0.9); }

  &.\:txt {
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
  }
  &.\:curved { border-radius: var(--curve-soft); }
  /** Fixed small btn */
  &.\:hero { 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 3rem;
    margin: 0 auto;

    font-family: var(--hero-font); 
    font-size: 1.33em; 
    font-weight: bold; 
  }
  &.\:card {  box-shadow: var(--shadow-card); }

  /**
   * External href links with animation
   */
  &.\:href {
    position: relative;
    overflow: hidden;
    transition: all var(--trans-easing) var(--trans-time-slow);

    & > span { 
      opacity: 1;
      position: absolute; 
      transform: translateY(0); 
      transition: all var(--trans-easing) var(--trans-time-slow);
      color: var(--back);
    }
    &::after {
      content: attr(alt);
      opacity: 0;
      transform: translateY(2rem);
      transition: all var(--trans-easing) calc(var(--trans-time-slow));
    }

    &:hover {
      width: 100%;
      background-color: var(--front);

      & > span { transform: translateY(-3rem); opacity: 0; }
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  &.\:primary {
    background-color: var(--primary);
    color: var(--back);
    fill: var(--back);
  }

  &.\:secondary {
    background-color: var(--second);
    color: var(--back);
    fill: var(--back);
  }
  
}



/*
 * Top Menu
 */
header#menu {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  padding: 0 calc( 2 * var(--pad-big));
  border-bottom: 1px solid var(--gray);
  z-index: 1000;

  /* Invert colors */
  font-family: var(--hero-font); 
  background-color: var(--back);
  color: var(--front );
  box-shadow: 0 -10px 30px rgba(0,0,0,.4);
    
  display: flex;
  align-items: center;
  justify-content: space-between;

  perspective: var(--perspective);

  transition-duration: 0.65s;

  /* Shrink menu*/
  &.shrink{ height: calc( 3/4 * var(--header-height)); }

  & .logo-container {
    flex: 0.2;

    & .logo {
      font-size: 2.0rem;
      font-weight: bold;

      display: inline-block;
      width: 100%;
      color: inherit;
            
      padding-left: 0;    
      margin: 0;  
    }  
  }
  
  /* Navigation */    
  & .menu {
    flex: 0.5;
    
    display: flex;
    justify-content: flex-end;
  
    /* Menu */
    & .menu-header {
      position: relative;
      background-color: transparent;

      vertical-align: baseline;
      z-index: 10;

      font-family: inherit;
      font-size: calc( 1.00rem * var(--typoscale));
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: inherit;

      padding: 1rem;
      margin-left: var(--pad-medium);

      /** Avoid last link to have a right margin, 
          making it container alignment easier */
      &:last-child { margin-right: 0; }
      
      border: 0px solid transparent;

      /** Icons */
      & ::before {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        font-size: 2rem;
      }

      /** Underscore decoration */
      &::after {
        position: absolute;
        content: ' ';
        
        width: 0%;
        height: calc( var(--gutter) * 0.5 );
        left: 0;
        bottom: 0;

        background-color: transparent;
        transition-duration: 0.35s;

        transition: background-color var(--trans-time) var(--trans-easing),
                    transform var(--trans-time) var(--trans-easing),
                    width var(--trans-time) var(--trans-easing);
      }


      /** Selected/hover states **/
      &.selected {
        &::after {
          width: 100%;
          background-color: var(--primary);
        }
      }

      &:hover {
        text-decoration: none;

        &:not(.selected)::after {
          width: 100%;
          background-color: color-mod( var(--third) lightness(60%));
        }
      }
      
    }
  }

  & .label-toggle { display: none; }

}
#menu-toggle { display: none; }      

/** Footer */
footer#footer {
  z-index: 1000;
  
  & .title {
    font-weight: 100;
    font-size: calc( 0.8rem * var(--perfect-fifth));
    text-transform: capitalize;

    font-weight: 100;
    color: var(--rly-dark-gray);
    margin: 0.5em 0;
    padding: 0;
  }

  & a {
    font-size: 14px;
    color: var(--dark-gray); 
    margin: 0;
    padding: 0;
  }
}


/*
 * A block full page
 */
.page-container > section {    
  /*
   * Content of pages
   */
  & > article {

    & > h1:first-child , & > h2:first-child, \
    & > h3:first-child , & > h4:first-child, \
    & > h5:first-child , & > h6:first-child {
      padding-top: 0;
    }
    
    ul {
      margin-left: calc(2*var(--gutter));
    }
  }

}


/*
 * Cellphone
 */
.cellphone , .notebook {
  zoom: 0.7;
  -moz-transform: scale(0.7) translate(-10%,-15%);
  
  & > .marvel-device {
    box-shadow: 5px 5px 50px rgba(0,0,0,0.5);

    & > .screen {
      & > iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}


/**
 * Browser mask
 */
 .browser-mask {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 2em;
   height: 100vh;
      
   & > .browser-screen {
     position: relative;
     overflow: hidden;
     width: 90%;
     z-index: 5;
     margin: 0px auto;
     box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
     border-radius: 5px;
     
     &:after {
       content: ' ';
       z-index: 10;
       position: absolute;
       top: 0; left: 0;
       background-size: cover;
       background-image: url(../images/browser-window.png);
       background-repeat: no-repeat;
       height: 100%;
       width: 100%
     }

     
     & > img {
       position: relative;
       object-fit: cover;
       width: 100%;
       top: 10px;
     }
   }
 }


 /**
  * 3 part gallery
  */
.gallery-columns {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > div:first-child { 
    flex: 1 1 65%; 
    overflow: hidden;
    & > * {height: 100%; }
  }
  & > div:nth-child(2) { 
    flex: 1 1 35%; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    & > * + * { flex: 1 1 50%; }
  }
}