
@media (--phones-portrait) {
    :root {
        --pad-big:    24px;
        --pad-medium: 12px;
        --gutter:     0.5em;
        --pad:        var(--gutter);
        --pad-margin:    calc( 4 * var(--gutter));

        --base-fontsize: 14px;
    }

    /**
     * Hamburguer nav
     */
     header#menu {
        padding: 0 calc( 1 * var(--pad-big));

        & .wrapper {
            flex-direction: row-reverse;
        }

        & .label-toggle {  
            background: linear-gradient(to bottom, 
                                        var(--rly-dark-gray) 0%, 
                                        var(--rly-dark-gray) 20%, 
                                        transparent 20%, 
                                        transparent 40%, 
                                        var(--rly-dark-gray) 40%, 
                                        var(--rly-dark-gray) 60%, 
                                        transparent 60%, 
                                        transparent 80%, 
                                        var(--rly-dark-gray) 80%, 
                                        var(--rly-dark-gray) 100%); 
            cursor: pointer;
            display: block;
            float: right;
            height: 36px;
            width: 36px;
        }
              
    }

    nav.menu { 
        /** Display under header */
        opacity: 0;
        position: absolute;
        z-index: 999;
        left: 0;
        top: 0;
        transform: translateY(0px);

        justify-content: center;
        align-items: center;
        height: calc( 0.5 * var(--header-height));
        flex-direction: column;
        width: 100%;
        background-color: var(--third);
        color: var(--white);
        box-shadow: 0 -5px 30px rgb(0, 0, 0);

        transition: all 0.55s var(--trans-easing);
    }


    /**
     * Sub Menu 
     */
    #menu-toggle:checked ~ header {
        box-shadow: none;

        & > .wrapper { width: 100%; }
    }
    #menu-toggle:checked ~ nav.menu {
        opacity: 1;
        display: flex;
        transform: translateY(var(--header-height));
    }


    /**
     * Footer 
     */

     /** Email should not overflow */
     #footer > ul li > .title ~ a > span {
        text-overflow: ellipsis;
        max-width: 88px;
        overflow: hidden;
        /* width: 88px; */
        display: block;
        /* line-break: strict; */
        white-space: nowrap;   
     }
 

     /** Icons side by side **/
     #footer > ul li:last-child {
         display: flex;
     }
}


/**
 * Gallery fixes for laptop and tablet
 */ 
@media (--laptop-and-below) {
     /**
      * Browser mask
      */
      .browser-mask {
        height: auto;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        & .browser-screen {
            width: 100%;
        }
    }

    /**
     * Phones and ipads alignment
     */
    .cellphone, .notebook {
      zoom: 0.5;
    }

    /**
     * 3 gallery is 100% wrapped
     */
     .gallery-columns {
         flex-direction: column;
         flex-wrap: wrap;
     }
}


/**
 * Tablet alignment is super whaky
 */
@media (--tv4k) {
    .marvel-device.ipad.landscape {
        zoom: 1.7;
    }
}

@media (--tablet-portrait) {
    .marvel-device.ipad.landscape {
        zoom: 0.7;
        transform: translateX(-85px);
    }
}
@media (--phones-portrait) {
    .marvel-device.ipad.landscape {
        zoom: 0.7;
        transform: translateX(-10px);
    }
}
@media (max-width: 375px) {
    .marvel-device.ipad.landscape {
        zoom: 0.7;
        transform: translateX(-55px);
    }
}
@media (max-width: 320px) {
    .marvel-device.ipad.landscape {
        zoom: 0.65;
        transform: translateX(-108px);
    }
}