/*
 * Variables using Custom properties
 */
:root {
  
  /* Colors */
  --black: #000;
  --white: #fff;

  --front: var(--black);
  --back:  var(--white);

  --light-gray: #E6ECF1;
  --gray:  #e9e9e9;
  --dark-gray: color-mod( var(--gray) l(50%));
  --rly-dark-gray: color-mod( var(--gray) l(20%));
  
  --primary:     #f05553;
  --second:      #0098d8;
  --third:       #0b3536;
  
  /* typography scale */
  --hero-font: 'FuturaStd', sans-serif;
  --code-font: "Source Code Pro", Menlo, monospace;
  --paragraph-font: system;

  --base-fontsize: 16px;
  --line-height:   calc( 1rem * var(--major-third) );
 
  --perfect-fifth: calc(3/2); 
  --major-third:   calc(5/4);
  
  --typoscale: var(--major-third);
  --linescale: var(--major-third);
    
  /* Default margin/padding */
  --gutter:     0.5em;
  --pad:        var(--gutter);
  --pad-big:    48px;
  --pad-medium: 24px;

  --curve-soft: 5px;
  --curve-big: 15px;
  --curve-circle: 50%;
  
  /* Header height */
  --header-height: 96px;
  
  /* Shadows */
  --perspective: 800px;
  --shadow: 0px 5px calc(var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.4);
  --shadow-big: 5px 5px calc(4*var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.4);
  --shadow-huge: 10px 10px calc(8*var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.4);
  --shadow-card: 0 1px 0 rgba(0, 0, 0, .46), 0 2px 6px rgba(0, 0, 0, .47), 0 10px 20px rgba(0, 0, 0, .29);

  
  /* Animations/transitions */
  --trans-expo-out:   cubic-bezier(0.52, 0.01, 0.16, 1); /* Expo ease-out */
  --trans-easing-elastic: cubic-bezier(.10,1.28,.17,1.41); /* Elastic */
  --trans-easing-out:  cubic-bezier(0.000, 1.000, 0.725, 1.000);
  --trans-easing: var(--trans-easing-out);

  --trans-time:     0.25s;  
  --trans-time-slow: 0.85s;

}

/**
  * Devices breakpoints
  *
  --phone: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --tv:     1440px;  
*/

/** 
 * Media devices query
 */
@custom-media --phones-portrait (max-width: 425px) and (orientation: portrait);
@custom-media --tablet-portrait (max-width: 768px) and (min-width: 426px );
@custom-media --tablet-and-below (max-width: 768px);
@custom-media --laptop-and-below (max-width: 1024px);
@custom-media --laptop-only (max-width: 1024px) and (min-width: 769px);
@custom-media --tv4k (max-width: 2560px) and (min-width: 1441px);