/*
 * Variables using Custom properties
 */
:root {
  
  /* Colors */
  --black: #161616;
  /*--white: #f0f0f0;*/
  --white: #cfcfcf;
  --gray:  #efefef;

  --dark-gray: color( var(--gray) b(50%));
  --primary:     #f05553;
  --second:      #f68e2b;
  --second-soft: #f68e2b;
  --third:       #0bb14d;
  --fourth:      #f05553;
  
  /* typography scale */
  --base-fontsize: 1rem;
  --line-height:   calc( 1rem * var(--major-third) );
  --perfect-fifth: calc(3/2); 
  --major-third:   calc(5/4);
  --typoscale: var(--perfect-fifth);
  --linescale: var(--major-third);
    
  /* Default margin/padding */
  --gutter:     0.5em;
  
  /* Header height */
  --header-height: 64px;
  --pad-big: 48px;
  
  /* Shadows */
  --shadow: 0px 0px calc(var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.5);
  --shadow-big: 5px 5px calc(4*var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.5);
  --shadow-huge: 10px 10px calc(8*var(--gutter)*var(--perfect-fifth)) rgba(0,0,0,0.5);
  
  /* Animations/transitions */
  --trans-props:    all;
  --trans-time:     0.15s;
  --trans-easing:   cubic-bezier(0.52, 0.01, 0.16, 1); /* Expo ease-out */
  
  --trans-time-slow: 0.85s;
  
  /* Reactive variables */
  --scrolly: 1;
}
