{{ define "header" }}
  {{ partial "logo" .}}
  {{ partial "nav" . }}
{{ end }}
{{ define "main" }}
  {{ $columns := .Params.Columns | default "1" }}
  <section>
    <article class="container grid -vertical -middle -around">
      <header>
        <blockquote class="featured-header">
          <h1>{{ safeHTML .Title }}</h1>
        </blockquote>
      </header>
      <article class="columns{{ $columns }}" id="body">
        {{ .Content }}
      </article>
    </article>
  </section>
  {{ partial "contact" .}}
{{ end }}
