<!doctype html>
<html>
  <head>
    <title>{{ .Title }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
  
    {{ partial "_instyle" .}}
    
    <!-- Load css asynchronously 
    <script type="text/javascript">
        ['/css/evil-icons.css','/css/typography.css'].map( function(url) {
            var link = document.createElement('link');
            link.rel = "stylesheet";
            link.href = url;
            document.head.appendChild(link);
        });
    </script>
    -->
    <link rel="stylesheet" href="/css/main.css">
    
  </head>  
  {{ $layout := .Params.layout | default "" }}
  <body class="{{ $layout }}">

    {{ $menuModifier := .Params.menuModifier | default "" }}
    <header role="header" class="{{ $menuModifier }}" id="menu">
      {{ block "header" .}}{{ end }}
    </header>

    {{ $section := .Section | default "" }}
    {{ $layout := .Section | default "" }}
    <main id="page-trans-wrapper">
      <div id="page-container" class="page-container {{ $section }} {{ $layout }}">
        {{ block "main" .}}{{ end }}
      </div>
    </main>
    <footer role="footer">{{ block "footer" .}}{{ end }}</footer>

    <script src="/js/app.js" defer></script>
    <script type="text/javascript" src="/js/vendor/vanilla-tilt.babel.min.js" async></script> 
    <!--
    <script type="text/javascript" src="/js/vendor/netlify-identity-widget.v1.4.14.js" async></script> 
    <script>
        window.addEventListener('load', setupNetlify)
        function setupNetlify() {
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        }
    </script>
    -->
  </body>
</html>
