<!doctype html>
<html>
  <head>
    <title>{{ .Title }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
  
    {{ partial "_instyle" .}}
    
    <!-- Load css asynchronously -->
    <script type="text/javascript">
        ['/css/evil-icons.css'].map( function(url) {
            var link = document.createElement('link');
            link.rel = "stylesheet";
            link.href = url;
            document.head.appendChild(link);
        });
    </script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/typography.css">
    
    
  </head>
  {{ $colorscheme := .Params.colorscheme | default "dark" }}
  {{ $layout := .Params.layout | default "" }}
  {{ $page := .Kind | default "page" }}
  {{ $section := .Section | default "" }}
  <body class="{{ $colorscheme }} {{ $page }} {{ $section }} {{ $layout }}">

    <header role="header" class="container" id="menu">
      {{ block "header" .}}{{ end }}
    </header>
    
    <main>{{ block "main" .}}{{ end }}</main>
    <footer>{{ block "footer" .}}{{ end }}</footer>

    <script src="/js/app.js" defer></script>
    <script src="/js/vendor/evil-icons.js" defer></script>
  </body>
</html>
