.blog {
    & section.post-list {
        font-family: var(--paragraph-font);
        perspective: var(--perspective);
    
        display: flex;
        flex-direction: column;
        
        width: 100%;
        height: 100%;
        
        /* Text */
        & > .title { 
          font-weight: 100;
          padding-top: calc(2*var(--pad-medium));
          padding-bottom: calc(2*var(--pad-medium));
          
          color: inherit;
          font-size: 5.0rem;
          line-height: 5rem;
           
          margin: 0 auto;
        }


        & ol.posts {
            width: 100%;
            margin: 0 auto;

            margin: calc( 2* var(--pad-medium)) 0 0 0;
            position: relative; 

            & li {
                display: flex;
                align-items: top;
                padding: var(--pad-medium);
                padding-right: calc( 2 * var(--pad-big));

                font-family: var(--hero-font);

                &:nth-child(even){
                    background-color: var(--light-gray);
                }

                transition: color var(--trans-easing) var(--trans-time),
                            background-color var(--trans-easing) var(--trans-time);
                            
                /*
                &:hover {
                    color: var(--back);
                    background-color: var(--front);
                }
                */

                /* Left information */
                & > label {
                    flex: 1 1 30%;
                    text-align: right;
                    padding: var(--gutter) calc(4*var(--gutter)) 0 0;
                    position: relative;

                    & .date {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }

                    & .tag-list {
                        margin: var(--gutter) 0;
                        & > span {
                            line-height: 1.5rem;
                            padding: calc(0.5 * var(--gutter)) var(--gutter);
                            background-color: var(--gray);
                            color: var(--rly-dark-gray);
                        }
                    }

                }

                & > .post-preview {
                    flex: 1 1 70%;
                    margin: 0;
                    
                    /* Title */
                    & > .title {
                        color: inherit;
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                        font-weight: bold;
                        margin: 1.75rem 0 2.5rem 0;
                        display: block;
                    }
                }

            }

            /* Separator 
            &::before {
                content: ' ';
                height: 100%;
                width: 1px;
                position: absolute;
                top: 0;
                left: 30%;

                background-color: var(--front);
            }
            */
        }
    }

    & section.post {
        /** No-Featured post showcase **/
        & > #post__showcase {

            display: flex;
            min-height: 55vh;
            height: 55vh;

            & > .headline {
                margin: 0 auto;
                max-width: 70%;
                text-align: center;

                & > .title {
                    margin-bottom: 0;
                    font-size: calc(1rem * 3.0 * var(--typoscale));
                    line-height: calc(1rem * 3.0 * var(--typoscale));
                }
            }

            /** Colorschemes **/
            &.dark { 
                background-color: var(--front); 
                & .title { color: var(--white); } 
                & .subtitle { color: var(--dark-gray); }
            }
            &.light {
                background-color: var(--second);
                & .title { color: var(--front); }
                & .subtitle { color: var(--light-gray); }
            }

        }

        /** feature post **/
        & > #post__showcase.featured {
            width: 100%;
            min-height: 55vh;
            height: 55vh;

            overflow: hidden;
            padding: 0;
            margin: 0;
            position: relative;
            
            & picture {
              display: block;
              position: relative;
              background:  radial-gradient( circle, transparent 50vh,                                             
                                  rgba(0, 0, 0, 0.85) 120vh);
              
              & img {
                max-width: 100%;
                object-fit: cover;
                mix-blend-mode: multiply;
              }
            }
            
            & .headline {
              position: absolute;
              top: 25%;
              left: 15%;
              width: 70%;
              height: 50%;
              display: flex;
              flex-wrap: nowrap;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              text-align: center;
          
              color: inherit;
              
              /** Big ass title **/
              & .title {
                font-size: calc(1rem * 3.0 * var(--typoscale));
                line-height: calc(1rem * 3.0 * var(--typoscale));
          
                font-weight: bold;
              }
              & .subtitle  {
                font-weight: bold;  
                margin: 0px auto;
              }
              
              /* Strong is just outline with some pattern */
              & strong , & b {
                -webkit-text-stroke-color: var(--white);
                -webkit-text-stroke-width: 2px;
                -webkit-background-clip: text;
                color: transparent;
                text-shadow: none;
                background-color: color-mod( var(--black) alpha(50%));
                /*background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='transparent'/> <rect width='1' height='1' fill='#ccc'/></svg>")*/
              }
          
            }          
        }


        & > #post__body {
            width: 70%;
            position: relative;
            margin-bottom: var(--pad-big);

            & > #post__meta {
                border-radius: var(--curve-soft);
                background-color: var(--light-gray);
                width: 90%;
                margin: 0 auto;
                padding: var(--pad-big) var(--pad-medium);
                position: absolute;
                top: -3em;
                left: 5%;
                height: 5em;
    
                display: flex;
                align-items: center; 
                justify-content: space-evenly;
    
                & > .author { 
                    flex: 1 1 50%; 
                    text-indent: 1.5rem;
                    &::after {
                        content: ' ';
                        background-image: url(../images/uploads/myself-centered-2.jpg);
                        width: 72px;
                        height: 75px;
                        position: absolute;
                        border-radius: 50%;
                        left: -38px;
                        top: 9px;
                        background-size: cover;
                    }
                }
                & > .categories { 
                    flex: 1 1 30%;
    
                    margin: var(--gutter) 0;    
                }
                & > .date {
                    text-align: right;
                    flex: 1 1 20%;
                    display: flex;
                    flex-direction: column;
                    & > time {
                        font-size: calc(1.33rem * var(--typoscale));
                        line-height: calc(1.33rem * var(--typoscale));
                    }
                }
            }
    
            & > #post__body__content {
                margin-top: 3em;
                
                /**
                * Header adjacement
                */
                & p + h1,  & p + h2,  & p + h3 , & p + h4,  & p + h5,  & p + h6 , 
                & ul + h1, & ul + h2, & ul + h3, & ul + h4, & ul + h5, & ul + h6 ,
                & ol + h1, & ol + h2, & ol + h3 ,& ol + h4, & ol + h5, & ol + h6 ,
                & table + h1, & table + h2, & table + h3 , & table + h4, & table + h5, & table + h6 , 
                & .highlight + h1, & .highlight + h2, & .highlight + h3 , & .highlight + h4, & .highlight + h5, & .highlight + h6,
                & pre + h1,  & pre + h2,  & pre + h3 , & pre + h4,  & pre + h5,  & pre + h6 {
                    margin-top: calc( var(--size) - 1.5rem);
                }
                
                /* Adjacent list elements */
                & ul + p, 
                & ol + p {
                    margin-top: 1.5rem;
                }
            }              
        }
    }
}