{{ define "header" }}
  {{ partial "logo" . }}
  {{ partial "nav" . }}
{{ end }}
{{ define "main" }}
  <section class="work">
    <article class="showcase">
      {{ .Content }}
    </article>
    <article id="content-body" class="info grid :vertical">
      
      <picture class="logo">
        {{ with .Params.logo }}
          <img src="{{ . }}">
        {{ end }}
        {{ if eq .Params.logo nil }}
          <h2>{{ safeHTML .Title }}</h2>
        {{ end }}
      </picture>

      <div class="description">
        {{ safeHTML .Params.description }}
      </div>
      
      <footer>
        <ul role="nav" class="horizontal">
          {{if .PrevInSection}}
            <li class="w5"><a href="{{.PrevInSection.Permalink}}" class="default btn no-underline">◂</a></li>
          {{end}}
          <li class="w45"><a href="#menu" class="default btn no-underline">Menu</a></li>
          <li class="w45"><a href="{{.Params.website}}" class="default btn no-underline">Visit</a></li>
          {{if .NextInSection}}
            <li class="w5"><a href="{{.NextInSection.Permalink}}" class="default btn no-underline">▸</a></li>
          {{end}}
        </ul>
      </footer>
    </article>    
  </section>
{{ end }}


{{ define "footer"}}
  {{ partial "style_invert" .}}
{{ end }}