/* Resets margins and paddings for headers, ul, ol and p */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
{
  margin: 0;
  padding: 0;
}
/*
 Completely resets form items
 ----------------------------
 Super hard reset that removes all borders
 and radius of all form items.
 ============================
*/
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}
input:hover,
  input:active,
  input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus
{
  outline: none;
}
.nostyle { all: unset; }
/*
 * Variables using Custom properties
 */
:root {
  
  /* Colors */
  
  /* typography scale */
    
  /* Default margin/padding */
  
  /* Header height */
  
  /* Shadows */

  
  /* Animations/transitions */ /* Expo ease-out */ /* Elastic */
  
  /* Reactive variables */
}
/**
 * Colorscheme
 */
/*
 * Apply rules
 */
:root {;
  
  /*
   * Animation/transition
   */
  
  /*
   * Useful rules
   */
  
  /* absolute center */
}
/*
 * Flexbox grid
 */
.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.grid.\:horizontal {
  -ms-flex-direction: row;
      flex-direction: row;
}
.grid.\:vertical {
  -ms-flex-direction: column;
      flex-direction: column;
}
.grid.\:top {
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}
.grid.\:middle {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
.grid.\:bottom {
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}
.grid.\:baseline {
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
}
.grid.\:stretch {
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch
}
.grid.\:baseline {
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline
}
.grid.\:left {
    -ms-flex-pack: start;
    justify-content: flex-start
}
.grid.\:center {
    -ms-flex-pack: center;
    justify-content: center
}
.grid.\:right {
    -ms-flex-pack: end;
    justify-content: flex-end
}
.grid.\:between {
    -ms-flex-pack: justify;
    justify-content: space-between
}
.grid.\:around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}
.cell {
    -ms-flex: 1;
        flex: 1;
    box-sizing: border-box
}
@media screen and (min-width:768px) {
    .cell.\:1of12 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%
    }
    .cell.\:2of12 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%
    }
    .cell.\:3of12 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }
    .cell.\:4of12 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%
    }
    .cell.\:5of12 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%
    }
    .cell.\:6of12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .cell.\:7of12 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%
    }
    .cell.\:8of12 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%
    }
    .cell.\:9of12 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%
    }
    .cell.\:10of12 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%
    }
    .cell.\:11of12 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%
    }

    .cell.\:12of12 {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }
}
@media screen and (max-width:768px) {
    .grid {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}
.form {
    width: 480px;
    width: 30rem
}
.form-group {
    margin-bottom: 28px;
    margin-bottom: 1.75rem;
    overflow: auto
}
.form-group label {
    border-bottom: 2px solid #ccc;
    color: #333;
    width: 160px;
    width: 10rem;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0;
    float: left;
    position: relative
}
.form-group.form-success label {
    color: #4caf50!important;
    border-color: #4caf50!important
}
.form-group.form-warning label {
    color: #ff9800!important;
    border-color: #ff9800!important
}
.form-group.form-error label {
    color: #f44336!important;
    border-color: #f44336!important
}
.form-control {
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 0;
    padding: .5rem 0;
    width: 320px;
    width: 20rem;
    height: 38px;
    background-color: transparent
}
.form-control:focus {
    border-color: #555
}
.form-group.form-textarea label:after {
    position: absolute;
    content: '';
    width: 2px;
    background-color: #fff;
    right: -2px;
    top: 0;
    bottom: 0
}
textarea.form-control {
    height: auto;
    resize: none;
    padding: 16px 0;
    padding: 1rem 0;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    padding: 8px;
    padding: .5rem
}
select.form-control {
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none
}
.help-block {
    color: #999;
    margin-top: 8px;
    margin-top: .5rem
}
.form-actions {
    margin-bottom: 28px;
    margin-bottom: 1.75rem
}
@media screen and (max-width:768px) {
    .form-group label {
        display: block;
        border-bottom: none;
        width: 100%
    }
    .form-group.form-textarea label:after {
        display: none
    }
    .form-control {
        width: 100%
    }
    textarea.form-control {
        border-left: none;
        padding: .5rem 0
    }
    pre::-webkit-scrollbar {
        height: 3px
    }
}
@media screen and (max-width:480px) {
    .form {
        width: 100%
    }
}
hr {
  border: 0;
  border-bottom: 1px solid #e9e9e9;
}
pre {
  padding: 32px;
  padding: 2rem;
  margin: 28px 0;
  margin: 1.75rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}
code, pre, pre code {
  font-weight: 100;
  text-shadow: none;
  margin: 28px 0;
  margin: 1.75rem 0;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400; 
}
blockquote { 
  width: 100%; 
  margin: 1em auto; 
  font-size: 2em; 
  line-height: 1.5em;
  text-align: center;
}
blockquote > p { margin: 0; }
a { text-decoration: none; color: #0098d8; }
a:hover { text-decoration: underline; }
a.no-hover:hover { text-decoration: none; }
a.default {
  position: relative;
  cursor: pointer;
  color: #fff;
  text-decoration: none
}
a.default:hover
{
  text-decoration: underline;
}
a.black {
  color: #000;
}
a.no-underline {
}
a.no-underline:hover
{
  text-decoration: none !important;
}
a.underline {
  text-decoration: underline;
}
/** 
 * A links without default style
 */
a.clean {
  margin: inherit;
  padding: inherit;
}
/*
 * Lists
 */
ul {
  margin: 0;
  list-style: none;
  padding: 0
}
ul li
{
  padding: 0;
}
ul.horizontal {
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center
}
ul.horizontal li
{
  display: table-cell;
  border-color: inherit;
}
ul.as-table {
  display: table;
  border-collapse: collapse;
  text-align: left
}
ul.as-table li
{
  display: table-cell;
  border-color: inherit;
  border: 1px solid;
}
ul.as-flex-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap
}
ul.as-flex-table\:bordered
{
}
ul.as-flex-table\:bordered li
{
  border: 1px solid;
}
ul.as-flex-table li
{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
ul.as-flex-table li:first-child
{
  border-bottom: 0;
}
ul.as-flex-table li:last-child
{
  border-top: 0;
}
ul.as-flex-table .value, ul.as-flex-table .label
{
  padding: 0 2em;
  display: block;
  width: 100%;
  line-height: 2em;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.0rem;
  font-weight: 700;
}
ul.as-flex-table .label
{
  font-weight: 700;
  font-size: 12.8px;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(128, 128, 128);
}
/**
 * Bordered featured list, with first/last without padding
 */
ul.featured.bordered {
}
ul.featured.bordered li
{
  border: 1px solid;/* Links of menu */
}
ul.featured.bordered li a
{
  display: block;
  margin: 0em;
  padding: 16px;
  padding: 1rem;
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-weight: bold;/* First&Last are next/previous */
}
ul.featured.bordered li a:hover
{
  background-color: #fff;
  color: #000;
}
ul.featured.bordered li a:first-child,
      ul.featured.bordered li a:last-child
{
  padding: 1em 0em;
}
.float\:left { float: left; }
.float\:right { float: right; }
.pull\:left { margin-right: auto; }
.pull\:right { margin-left: auto; }
.align\:left { text-align: left; }
.align\:right { text-align: right; }
.w5  { max-width: 5%; }
.w10 { max-width: 10%; }
.w33 { max-width: 33%; }
.w25 { max-width: 25%; }
.w40 { max-width: 40%; }
.w45 { max-width: 45%; }
.w50 { max-width: 50%; }
.w70 { max-width: 70%; }
.w90 { max-width: 90%; }
.w100 { max-width: 100%; }
.txt\:mask { -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.txt\:big  { font-size: 2em; line-height: 1em; }
.txt\:hero { font-size: 64px; font-size: 4rem; line-height: 2em; }
.subtitle { color: rgb(128, 128, 128); }
.bg\:primary{ background-color: rgba(240, 85, 83, 0.8); }
.bg\:second { background-color: rgba(0, 152, 216, 0.8); }
.color-high { color: #f05553; }
.color-low { color: #0098d8; }
.nomargin { margin: 0; padding: 0; }
.rounded { border-radius: 2em; }
.bordered { border: 1px solid;  }
.hero { font-family: 'FuturaStd', sans-serif; /*font-weight: 300;*/ }
/* Apply margin-top iof header size */
.\:header-margin {
  margin-top: 96px;
}
/*
 * General components
 */
.btn {
  transition: all 0.15s cubic-bezier(0.52, 0.01, 0.16, 1);
  
  color: #fff;
  padding: 0.5em 1em
  
}
.btn:hover
{
  color: #000;
}
.btn:after
{
  all: unset;
}
.btn\:txt
{
  display: inline-block;
  margin: 0px auto;
  text-transform: uppercase;
}
.btn.\:primary
{
  background-color: #f05553;
  color: #fff;
  fill: #fff;
}
/*
 * Top Menu
 */
header[role="header"] {
  width: 100%;
  height: 96px;
  margin: 0;
  padding: 0 96px;
  z-index: 1000;

  /* Invert colors */
  background-color: #fff;
  color: #000;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, .4);
    
  display: -ms-flexbox;
    
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;

  perspective: 800px;

  transition: all 0.15s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition-duration: 0.65s

  /* Shrink menu*/
  
  /* Navigation */

  /*
  & .menu-header {
    @apply --hero-font;
    font-weight: bold;

    color: inherit;
    font-weight: bold;
    margin: 0;

    display: flex;
    flex-direction: column;
    
    margin-bottom: 1rem;
     background-color: #fff; 
    border: 1px solid transparent;

    @apply --transition;

    /** Icons 
    & .title::before {
      position: absolute;
      top: 1rem;
      left: 0.5rem;
      font-size: 2rem;
    }
 
    &:first-child {
      margin-top: 2rem;
    }

    & > .title {
      position: relative;
      font-size: calc( var(--perfect-fifth) * 1rem);
      text-align: center;
      text-transform: uppercase;
      color: inherit;
      margin: 0.5rem 0em; padding: 1rem;
      cursor: pointer;
      color: inherit;
      
      & > a { 
        color: inherit;
        margin: 0; padding: 0; 
      }
    }
    
    
    &.selected {
      & > .sub-menu {
        display: block;
      }
    }

    & .sub-menu {
      display: none;
      list-style: none;
      padding-left: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      & li { float: left; display: inline; width: 46%; }
      & a {
        @apply --code-font;
        font-weight: 300;
        color: inherit;
        margin: 0; padding: 0;
      }

      /* toggle
      &.\:is-target {
        display: block;
      }
    }
  }
  */
}
header[role="header"].shrink
{
  height: 72px;
}
header[role="header"] .logo-container
{
  -ms-flex: 0.2;
      flex: 0.2;
}
header[role="header"] .logo-container .logo
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-size: 32px;
  font-size: 2.0rem;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  color: inherit;
  padding-left: 0;
  margin: 0;
}
header[role="header"] .logo-container .menu-close
{
  display: none;
}
header[role="header"] .menu
{
  -ms-flex: 0.5;
      flex: 0.5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;/* Menu */
}
header[role="header"] .menu .menu-header
{
  position: relative;
  background-color: transparent;
  vertical-align: baseline;
  z-index: 10;
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  padding: 16px;
  padding: 1rem;/** Avoid last link to have a right margin, 
          making it container alignment easier */
  border: 1px solid transparent;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  transition: all 0.15s cubic-bezier(0.52, 0.01, 0.16, 1);/** Icons *//** Underscore decoration *//** Selected/hover states **/
}
header[role="header"] .menu .menu-header:last-child
{
  margin-right: 0;
}
header[role="header"] .menu .menu-header ::before
{
  position: absolute;
  top: 16px;
  top: 1rem;
  left: 8px;
  left: 0.5rem;
  font-size: 32px;
  font-size: 2rem;
}
header[role="header"] .menu .menu-header::after
{
  position: absolute;
  content: ' ';
  width: 0%;
  height: 0.25em;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: all 0.15s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition-duration: 0.35s;
}
header[role="header"] .menu .menu-header.selected
{
}
header[role="header"] .menu .menu-header.selected::after
{
  width: 100%;
  background-color: #f05553;
}
header[role="header"] .menu .menu-header:hover
{
  text-decoration: none;
}
header[role="header"] .menu .menu-header:hover::after
{
  width: 100%;
  background-color: rgb(86, 218, 220);
}
/** Footer */
footer[role="footer"] {
  width: 100%;
  height: 96px;
  margin: 0;
  padding: 0 96px;
  z-index: 1000;

  /* Invert colors */
  border-top: 1px solid #e9e9e9;
  background-color: #fff;
  color: #000;
    
  display: -ms-flexbox;
    
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between
}
footer[role="footer"] ul
{
  width: 100%;
  height: inherit;
}
footer[role="footer"] ul li
{
  -ms-flex: 0.2;
      flex: 0.2;
}
footer[role="footer"] .title
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-weight: 100;
  font-size: 19.2px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 100;
  color: rgb(51, 51, 51);
  margin: 0.5em 0;
  padding: 0;
}
footer[role="footer"] a
{
  font-size: 14px;
  color: rgb(128, 128, 128);
  margin: 0;
  padding: 0;
}
/*
 * A block full page
 */
main > section {
  position: relative;
  width: 100%;
  min-height: calc( 100vh - 96px);
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: transparent;
  -ms-flex-pack: center;
      justify-content: center
    
  /*
   * Content of pages
   */

}
main > section > article
{
  min-height: calc( 100vh - 96px);
  height: 100%;
  padding: 2em 2em;
  & > h1:first-child , & > h2:first-child, \
    & > h3:first-child , & > h4:first-child, \
    & > h5:first-child , & > h6:first-child
{
    padding-top: 0;
  }
  ul
{
    margin-left: 1em;
  }
}
/*
 * Feature headlines
 */
.featured {
  width: 100%;
  max-height: 100vh;
  overflow: hidden
  
}
.featured picture
{
  display: block;
  position: relative;
}
.featured picture img
{
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured .headline
{
  position: absolute;
  top: 0px;
  left: 0px;
  top: 25%;
  width: 95%;
  height: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;/* String is just outline with some pattern */
}
.featured .headline .title
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-weight: bold;
  font-size: 240px;
  font-size: 15rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 0.75em rgba(0, 0, 0, .5);
}
.featured .headline .subtitle
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-weight: bold;
  text-transform: none;
  margin: 0px auto;
  text-shadow: 0px 0px 0.75em rgba(0, 0, 0, .5);
}
.featured .headline strong
{
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect width='5' height='5' fill='transparent'/> <rect width='1' height='1' fill='#ccc'/></svg>");
}
/*
 * Image with a text overlay
 */
.picture {
  position: relative;
}
/*
 * Cellphone mask
 */
.cellphone-mask {
  position: relative;
  overflow: hidden;
  min-width: 280px;
  min-height: 440px;
  max-width: 568px;
  max-height: 880px;
  zoom: 1.0
}
.cellphone-mask:after
{
  content: ' ';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-image: url(../images/cellphone-mask.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.cellphone-mask > .cellphone-screen
{
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 380px;
  z-index: 5;
}
.cellphone-mask > .cellphone-screen > *
{
  position: absolute;
  top: 66px;
  left: 42px;
  width: 196px;
  border: 0;
}
/**
 * Browser mask
 */
.browser-mask {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
       align-items: center;
   position: relative;
   overflow: hidden;
   padding: 2em;
   height: 100vh
 }
.browser-mask > .browser-screen
{
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 70%;
  z-index: 5;
  margin: 0px auto;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, .5);
  border-radius: 5px;
}
.browser-mask > .browser-screen:after
{
  content: ' ';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(../images/browser-window.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.browser-mask > .browser-screen > img
{
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(100% - 2.5vw);
  top: 2.5vw;
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-anim {
  animation: intro 1s;
}
@keyframes appearFromBottom {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0px); }
}
.appearFromBottom {
  animation: appearFromBottom 0.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-fill-mode: both;
  animation-play-state: paused;
}
body.page-loaded .appearFromBottom {
  animation-play-state: running;
}
.appearFromBottomCropped {
  overflow: hidden
}
.appearFromBottomCropped > span
{
  display: block;
  transform: translateY(150px);
  transition: transform 0.55s cubic-bezier(0.000, 1.000, 0.725, 1.000);
}
body.page-loaded .appearFromBottomCropped {
}
body.page-loaded .appearFromBottomCropped > span
{
  transform: translateY(0px);
}
html {
  font-size: 16px;
  font-size: 16px;
  line-height: 16px;
  line-height: 20px;
  line-height: 1.25rem;
  
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /*font-family: var(--paragraph-font);*/
  margin: 0;
  word-wrap: break-word;
  max-width: 100vw;
  min-height: 100vh;
  
  /* Background grid   
  &:after {
    will-change: transform;
    @apply --empty;
    @apply --grid-background;
    position: fixed;
  }
  */
}
::-moz-selection {
  background-color: #f05553; /* WebKit/Blink Browsers */
}
::selection {
  background-color: #f05553; /* WebKit/Blink Browsers */
}
/* Index page billboard */
.billboard {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}
.billboard-item {
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(252, 13, 94, 0.9);
}
/**
 * Apps Single Page
 */
body.apps .project__info {
    text-align: center
  
}
body.apps .project__info .project__logo
{
  margin: 0 auto;
  width: 20%;
}
body.apps .project__info .project__logo > img
{
  width: 100%;
}
body.apps .project__info .project__meta
{
  list-style: none;
  display: table;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}
body.apps .project__info .project__meta li
{
  display: table-cell;
  border: 1px solid;
}
body.apps .project__info .project__meta li .value, body.apps .project__info .project__meta li .label
{
  padding: 0 2em;
  display: block;
  width: 100%;
  line-height: 2em;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.0rem;
  font-weight: 700;
}
body.apps .project__info .project__meta li .label
{
  font-weight: 700;
  font-size: 12.8px;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(128, 128, 128);
}
body.apps .project__info .project__meta li .value
{
  color: #f05553;
}
body.apps .project__info .project__meta, body.apps .project__info .project__meta li, body.apps .project__info.project__meta .label
{
  border-color: rgb(128, 128, 128);
}
body.apps .project__info .project__description
{
  font-size: 16px;
  font-size: 1rem;
}
/** More list **/
.more-list {

  /** 3 per row **/

  /**
   * 
   * ++++++++ (1)
   * +++ ++++ (2) and (3)
   * ++++++++
   * ++++ +++
   * -repeat-
   */
}
.more-list .container
{
  width: 100%;
  background-color: #0b3536;
  color: #fff;
}
.more-list .title
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  text-align: center;
  font-weight: 100;
  padding-top: 96px;
  color: inherit;
  font-size: 80px;
  font-size: 5.0rem;
  line-height: 80px;
  line-height: 5rem;
  margin: 0 auto;
}
.more-list .list-cards
{
  padding: 96px 0;
  animation-delay: 0.25s;
}
.more-list .list-cards > .cell
{
  -ms-flex: 1 1 33%;
      flex: 1 1 33%;
}
.more-list .list-isotope
{
  padding: 96px 0;
  animation-delay: 0.25s;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.more-list .list-isotope > .cell:nth-child(3n+1)
{
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
}
.more-list .list-isotope > .cell:nth-child(3n+2)
{
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
}
.more-list .list-isotope > .cell:nth-child(3n+3)
{
  -ms-flex: 0 0 60%;
      flex: 0 0 60%;
}
.more-list .list-isotope .card
{
  width: 100%;
}
.more-list .card
{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  width: 50%;
  height: 260px;
  overflow: hidden;
  color: inherit;
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .76), 0 2px 6px rgba(0, 0, 0, .77), 0 10px 20px rgba(0, 0, 0, .49);
  background-color: #000;
  margin: 0 auto 32px auto;
  margin: 0 auto 2rem auto;
  padding: 0px;
  padding: 0rem;
  transition: background-color 0.35s ease-out;
}
.more-list .card .listitem__title
{
  transform: translateZ(20px);
  font-size: 48px;
  font-size: 3rem;
  line-height: 48px;
  line-height: 3rem;
  position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .76), 0 2px 6px rgba(0, 0, 0, .77), 0 10px 20px rgba(0, 0, 0, .49);
  width: 100%;
  text-align: center;
  padding: 16px;
  padding: 1rem;
  color: inherit;
}
.more-list .card .thumbnail
{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  transition: all 0.5s ease-out;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.9" intercept="0.04999999999999999" /><feFuncG type="linear" slope="0.9" intercept="0.04999999999999999" /><feFuncB type="linear" slope="0.9" intercept="0.04999999999999999" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: contrast(90%);
          filter: contrast(90%);
}
.more-list .card:hover
{
}
.more-list .card:hover > .thumbnail
{
  opacity: 1;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.1" intercept="-0.050000000000000044" /><feFuncG type="linear" slope="1.1" intercept="-0.050000000000000044" /><feFuncB type="linear" slope="1.1" intercept="-0.050000000000000044" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
}
/**
 * Work pages
 */
body.work ,
body.about,
body.home {

  /* 2 columns */

  /* Image showcase */
  
  /* Right info area */
}
body.work section.work, body.about section.work, body.home section.work
{
  -ms-flex-direction: row;
      flex-direction: row;
}
body.work .showcase, body.about .showcase, body.home .showcase
{
  position: relative;
  display: block;
  width: calc(100% - 392px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body.work .showcase .gallery, body.about .showcase .gallery, body.home .showcase .gallery
{
}
body.work .showcase .gallery p, body.about .showcase .gallery p, body.home .showcase .gallery p
{
  margin: 0;
  padding: 0;
}
body.work .showcase .gallery > img, body.about .showcase .gallery > img, body.home .showcase .gallery > img
{
  display: block;
  width: 100%;
  animation: intro 1s;
}
body.work .showcase .overlay, body.about .showcase .overlay, body.home .showcase .overlay
{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;/** See more */
}
body.work .showcase .overlay .see-more, body.about .showcase .overlay .see-more, body.home .showcase .overlay .see-more
{
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1em auto;
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  text-transform: none;
}
body.work .info, body.about .info, body.home .info
{
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
  right: 0px;
  width: 392px;
  min-height: calc( 100vh - 96px);
  padding: 24px 48px;/* Logo as image or text *//* Description *//* Footer links at bottom */
}
body.work .info picture.logo, body.about .info picture.logo, body.home .info picture.logo
{
}
body.work .info picture.logo img, body.about .info picture.logo img, body.home .info picture.logo img
{
  display: block;
  max-height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}
body.work .info picture.logo h2, body.about .info picture.logo h2, body.home .info picture.logo h2
{
  display: block;
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  text-transform: uppercase;
  margin: 0;
}
body.work .info .description, body.about .info .description, body.home .info .description
{
  margin-top: 48px;
}
body.work .info .description p, body.about .info .description p, body.home .info .description p
{
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  margin: 0 0 20px 0;
  margin: 0 0 1.25rem 0;
  padding: 0;
}
body.work .info .more, body.about .info .more, body.home .info .more
{
  margin-top: auto;
}
body.work .info footer, body.about .info footer, body.home .info footer
{
  margin-top: auto;
}
/**
  * About Section
  */
body.about {
}
body.about section.about
{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  perspective: 800px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;/* Text */
}
body.about section.about > .title
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-weight: 100;
  padding-top: 96px;
  color: inherit;
  font-size: 80px;
  font-size: 5.0rem;
  line-height: 80px;
  line-height: 5rem;
  margin: 0 auto;
}
body.about section.about .intro
{
  padding: 96px 0;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -ms-flex-align: center;
      align-items: center;
}
body.about section.about .intro .intro_image
{
  -ms-flex: 0.3;
      flex: 0.3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
body.about section.about .intro .intro_image > img
{
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e9e9e9;
}
body.about section.about .intro .intro_lead
{
  -ms-flex: 0.7;
      flex: 0.7;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  animation-delay: 0.25s;
}
body.about section.about .more
{/* Contact */
}
body.about section.about .more .summary
{
  width: 75%;
  margin: 0 auto;
}
body.about section.about .more .summary .title
{
  text-transform: uppercase;
  padding: 1em 0;
}
body.about section.about .more .summary p
{
  margin: 0;
  padding: 0;
}
body.about section.about .more .summary .txt
{
  line-height: 1.7em;
}
body.about section.about .more .summary .first-column
{
  -ms-flex: 0.5;
      flex: 0.5;
}
body.about section.about .more .summary .second-column
{
  -ms-flex: 0.5;
      flex: 0.5;
}
body.about section.about .more .summary .education
{
}
body.about section.about .more .summary .education li
{
  padding-bottom: 1em;
}
body.about section.about .more .contact
{
  perspective: 800px;
  padding: 96px 0;
}
body.about section.about .more .contact > a
{
  display: block;
  height: 288px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .76), 0 2px 6px rgba(0, 0, 0, .77), 0 10px 20px rgba(0, 0, 0, .49);
  background-image: url(../images/old-computer.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  cursor: pointer;
}
body.about section.about .more .contact .label
{
  font-family: 'FuturaStd', sans-serif;/*font-weight: 300;*/
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .76), 0 2px 6px rgba(0, 0, 0, .77), 0 10px 20px rgba(0, 0, 0, .49);/*0 0 50px #000;*/
  color: #fff;/* center */
  height: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: stretch;
      align-items: stretch;
}
/*# sourceMappingURL=main.css.map */
