@import "imports/reset.css"; 
@import "imports/variables.css";
/*@import "imports/grid.css";*/
@import "imports/form.css";
@import "imports/devices-mockup.min.css";
@import "imports/theme.css";
@import "imports/animation.css";
@import "imports/slideshow.css";

@import "./typography.css";
@import "./evil-icons.css";

@import "sections/about.css";
@import "sections/blog.css";

html {
  font-size: var(--base-fontsize, 16px);
  line-height: var(--line-height, 16px);  
}

body {
  font-family: var(--paragraph-font);
}

::selection {
  background-color: var(--primary);
}

/**
 * Frontpage
 */
.page-container.frontpage {
  & .showcase {
    min-height: 60vh;
    height: 60vh;

    & .about {
      margin-top: calc( 3 * var(--pad-big));
      & > * { margin: 1rem 0; }
    }
    & .description {
      & > * { font-weight: bold; margin-top: 1rem; } 
    }
  }
}



/**
 * App Single Page
 */
.page-container.projects .project__info {
    text-align: center;
    
    & .project__logo {
      margin: 0 auto;
      & > img { width: 100%; }
    }
      
    & .project__meta {
      max-width: 50%;
      width: auto;
      margin: 0 auto var(--pad-big) auto; 
    }
    
    & .project__description {
      font-size: 1rem;
      text-align: left;
      width: 70%;
    }
  
}

/** More projects list **/
.more-list {

  & > article {     
    & > .title {
      font-family: var(--hero-font);
      text-align: center;
      font-weight: normal;
      padding-top: calc(2*var(--pad-medium));
      font-size: 5.0rem;
      line-height: 5rem;
      
      color: inherit;
      margin: 0 auto;
    }    
  }

  /** 3 per row **/
  & > .list-cards {
    padding: calc( 2* var(--pad-medium)) 0;
  }

  /** colorscheme **/
  &.colorscheme\:default {
    background-color: var(--back);
    color: var(--front);  
  }

  &.colorscheme\:dark {
    background-color: var(--third);
    color: var(--back);
  }

  &.colorscheme\:gray {
    background-color: var(--gray);
    color: var(--front);
  }

}

/**
  * 
  * ++++++++ (1)
  * +++ ++++ (2) and (3)
  * ++++++++
  * ++++ +++
  * -repeat-
  */
.list-isotope {
  margin: 0 auto;
  padding: calc( 2* var(--pad-medium)) 0;    
  animation-delay: 0.25s;
  justify-content: space-between; 
  
  & .cell + .cell {
    margin-top:var(--pad-margin); 
  }

  & > .cell:nth-child(3n+1) {
    flex: 1 1 100%;
  }
  & > .cell:nth-child(3n+2){
    flex: 0 0 33%;
  }
  & > .cell:nth-child(3n+3){
    flex: 0 0 60%;
  }
  /* Force last item to aways occupy 100% */
  & > .cell:last-child {
    flex: 1 1 100%;
  }
}

.card {
    box-shadow: var(--shadow-card);

    & .listitem__info {
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 1rem 1rem 0rem 2rem;      
      color: inherit;
      bottom: 2rem;

      & > .title {
        font-weight: bold;
        font-size: 2.0rem;
        line-height: 2.0rem;  
        margin-bottom: 1rem;
      }
      & > .subtitle {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }

    & .thumbnail {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
      }
    }
        
    /** Colorscheme , invert text color **/
    &.dark {
      & .listitem__info {
        color: var(--white);
      }
    }
    &.light {
      & .listitem__info {
        color: var(--black);
      }
    }

}


/**
 * Work pages
 */
.page-container.projects > .projects {

  /* 2 columns */
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  /* Image showcase */
  & .showcase {
    position: relative;
    display: block;
    width: calc(100% - 392px);
    margin: 0; padding: 0;
    overflow: hidden;
    
    & .gallery {
      & p { margin: 0; padding: 0; }
      & > img , & > video {
        display: block;
        width: 100%;
        
        animation: intro 1s;
      }
    }

    & .overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      
      /** See more */
      & .see-more {
        text-align: center;
        align-self: flex-end;
        margin: 1em auto;

        font-family: var(--hero-font);
        text-transform: none;
      }
    }
  }
  
  /* Right info area */
  & .info {
    align-self: flex-start;
    position: sticky;
    top: calc( var(--header-height) * 1);
    width: calc(100% - 392px);
    width: 392px;
    height: auto;
    min-height: calc( 100vh - var(--header-height));
    padding: var(--pad-medium) var(--pad-big);
    
    /* Logo as image or text */
    & picture.logo {
      & img {
        display: block;
        max-height: 128px;
        object-fit: cover;        
      }
      
      & h2 {
        display: block;
        font-family: var(--hero-font);
        text-transform: uppercase;
        margin: 0;
      }
    }
    
    /* Description */
    & .description {
      margin-top: var(--pad-big);
      & p { 
        padding: 0;
      }
    }

    & .more {
      margin-top: auto;
      margin-bottom: 1rem;
    }    
  }

  /** Colorscheme **/
  &.colorscheme\:default {
    background-color: var(--back);
    color: var(--front);
  }

  &.colorscheme\:dark {
    background-color: var(--front);
    color: var(--back);

    & .btn.\:href {
      color: var(--front);
      &:hover {
        background-color: var(--back);
      }
    }
  }
  
}