/*@import "imports/reset.css"; */
@import "imports/variables.css";
@import "imports/colors.css";
@import "imports/rules.css";
@import "imports/grid.css";
@import "imports/form.css";
@import "imports/theme.css";
@import "imports/animation.css";

html {
  font-size: var(--base-fontsize, 12px);
  line-height: var(--line-height, 14px);
  
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
}

body {
  font-size: var(--base-fontsize, 12px);
  font-family: 'Open Sans';
  margin: 0;
  overflow-wrap: break-word;
  max-width: 100vw;
  min-height: 100vh;
  
  /* Background grid */  
  &:after {
    will-change: transform;
    @apply --empty;
    @apply --grid-background;
    position: fixed;
  }
}

/* Top Header */
body > header {
  position: absolute;
  width: 400px;
  height: 80%;
  height: 80%;
  top: 48px;
  left: 48px;
  background-color: #fff;
  
  z-index: 10;
  will-change: opacity;
  color: var(--black);
  padding: 1em 3em;

  text-align: left;
  
  & .logo {
    display: inline-block;
    width: 85%;
    @apply --hero-font;
    color: inherit;
    padding: calc( 2*var(--gutter) ) 0;
    
    font-size: 2.0rem;
    letter-spacing: 3px;
    
    margin: 0;  
  }

  /** Close btn */  
  & .menu-close {
    visibility: hidden;
    display: inline-block;
    float: right;
    color: inherit;
    border: 3px solid #000;
    margin: 1.5em 0em;
    
    @apply --transition;
    &:after { content: 'âŒ'; }
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }  

  
  /** 3em of space between submenus*/
  & #menu-software  , 
  & #menu-work  {
    padding-bottom: 3rem;
  }
  
  /** About aligned at bottom */
  & #menu-about {
    margin-top: auto;
  }
}


/* Index page billboard */
.billboard {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}

.billboard-item {
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color( #fc0d5e alpha(90%));
}
  



/**
 * Software Page
 */
section.project {
  text-align: center;
  
  & .project__logo {
    margin: 0 auto;
    width: 20%;
    & > img { width: 100%; }
  }
  
  & .project__meta {
    list-style: none;
    display: table;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    & li {
      display: table-cell;
      border: 1px solid;

      & .value , & .label {
        padding: 0 2em;
        display: block;
        width: 100%;
        line-height: 2em;
        text-transform: uppercase;
        @apply --code-font;
        font-size: 1.0rem;
        font-weight: 700;
      }
      
      & .label {
        font-weight: 700;
        font-size: 0.8rem; 
        border-bottom: 1px solid var(--dark-gray);
      }
      & .value {
        color: var(--fourth);
      }
    }
    
  }
  & .project__meta, & .project__meta li , &.project__meta .label {
    border-color: var(--dark-gray);
  }
  
  & .project__info {
    font-size: 1rem;
  }
}

/**
 * Software Menu 
 */
body.software {
  /* Menu is horizontal */
  & #menu {
    background-color: transparent;
    width: 80%;
    height: var(--header-height);
    margin: 0 auto;
    
    color: inherit;
    
    left: 0; right: 0;
    top: 0;
    
    display: flex;
    align-items: baseline;

    & .menu-close { display: none; }
    
    /* Links */    
    & nav {
      width: 80%;
      margin-right: auto;
      flex-direction: row;
      justify-content: space-around;
      
      /* Menu */
      & .menu-header {
        position: relative;
        padding-bottom: 0;
        letter-spacing: 0px;
        
        & > a { 
          @apply --transition;
          transition-timing-function: var(--trans-easing);
          transition-duration: 0.5s;
          padding: var(--gutter); 
        }
        &.has-submenu.in ,
        &.is-link:hover {
          & > a { background-color: var(--black, #000); color: var(--white, #fff);  } 
        }
        
        /* Delay from submenus */
        &.has-submenu.in { & > a { transition-delay: 0.0s; } }
        &.has-submenu.out { & > a { transition-delay: 0s; } }
        
      }
            
      /* submenus appear as bottom children  */
      & #menu-about { margin-top: initial; }
      & .sub-menu { 
        position: absolute;
        left: -100%;
        width: 300%;
        height: 150px;
        top: 1.7rem;
        padding: 1em;

        visibility: hidden;
        opacity: 0;
        z-index: 10;
        background-color: transparent;
        color: inherit;

        /** Single line items */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-transform: lowercase;
        & li { float: none; width: 100%; display: block; }
        
        transition: all 0.15s ease-out;
      }
      
      
      /* Show submenus on hover */
      & .menu-header.in > .sub-menu {
        visibility: visible;
        opacity: 1; 
      }
      
      /* Remove delay when hoverOUt */
      & .menu-header.in > .sub-menu { transition-delay: 1.0s; }      
      & .menu-header.out > .sub-menu { transition-delay: 0s; }
    }
  }
}



/**
 * Work pages
 */
section.work {
  /* Image showcase */
  & .showcase {
    display: block;
    width: calc(100% - 392px);
    margin: 0; padding: 0;
    float: left;
    overflow: hidden;
    
    & .gallery {
      & p { margin: 0; padding: 0; }
      & img {
        width: 100%;
      }
    }
  }
  
  /* Right info area */
  & .info {
    position: fixed;
    top: 0; right: 0px;
    width: 392px;
    height: 100%;
    padding: 48px;
    
    /* Logo as image or text */
    & picture.logo {      
      & img {
        display: block;
        max-height: 128px;
      }
      
      & h2 {
        display: block;
        @apply --hero-font;
        text-transform: uppercase;
        margin: 0;
      }
    }
    
    /* Description */
    & .description {
      margin-top: 48px;
      & p { 
        @apply --code-font; 
        margin: 0 0 var(--line-height) 0; padding: 0;
      }
    }
    
    /* Footer links at bottom */
    & footer {
      margin-top: auto;
      & li {
        border: 1px solid;
        
        /* Links of menu */
        & a { 
          display: block;
          margin: 0em;
          padding: 1rem;
          @apply --hero-font;
           
          &:hover {
            background-color: #fff;
            color: #000;
          }

          /* First&Last are next/previous */
          &:first-child ,
          &:last-child { padding: 1em 0em; }
        }
      }
    }
  }
}

/**
 * Work Menu 
 */
 body.work {
   & #menu {
     /* Occupy full .info position */
     position: fixed;
     margin: 0;
     width: 392px;
     height: 100vh;
     top: 0;
     left: calc(100% - 392px);
     
     /* Initially off from viewport */ 
     transform: translateY(100vh);
     visibility: hidden;
     
     will-change: transform;
     @apply --transition;
     transition-duration: var(--trans-time-slow);
     
     /* Enable close btn */
     & .menu-close { visibility: visible; }
     
     /* Show menu when clicked */
     &.\:is-target {
       transform: translateY(0);
       visibility: visible;
     }
   }

 }




/*
 * Contact section
 */
section.contact {
    
  /* Picture */
  & .picture {
    width: 50%;
    @apply --transition;
    
    cursor: pointer;
    will-change: transform;
    transform: scale(1.0);
    mix-blend-mode: hard-light;
    
    & > img {
      box-shadow: var(--shadow-big);
    }
    & > .label {
      @apply --hero-font;
    }
  }
}


