@import "imports/reset.css";
@import "imports/variables.css";
@import "imports/rules.css";
@import "imports/grid.css";
@import "imports/form.css";
@import "imports/theme.css";
@import "imports/animation.css";
html {
  font-size: var(--base-fontsize, 16px);  
}

body {
  font-size: var(--base-fontsize, 16px);
  line-height: 1.0rem;
  letter-spacing: -.02em; 
  margin: 0;
  overflow-wrap: break-word;
  max-width: 100vw;
  min-height: 100vh;
}

/* Top Header */
body > header {
  @apply --sticky;
  width: 100%;
  z-index: 10;
  will-change: opacity;
    
  & .logo {
    @apply --hero-font;
    color: var(--white);
    padding: calc( 2*var(--padding) ) 0;
    
    margin: 0;  
  }
  
  /* Background grid */  
  &:after {
    @apply --empty;
    @apply --grid-background;
    position: fixed;
  }
}


/* Index page billboard */
.billboard {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}

.billboard-item {
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color( #fc0d5e alpha(90%));
}
  



/*
 * Contact section
 */
.section.contact {
  background-color: color( var(--second) alpha(80%) );
  
  
  /* Picture */
  & .picture {
    @apply --transition;
    
    cursor: pointer;
    will-change: transform;
    transform: scale(1.0);
    mix-blend-mode: hard-light;
    
    & > img {
      box-shadow: var(--shadow-big);
    }
    & > .label {
      @apply --hero-font;
    }
  }
    
}


