@import 'imports/variables.css';
/*
 * Typography futuristic themed.
 *  code: Source Code Pro
 *  Title: Futura
 */
/*@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');*/

/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDvecq_mk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://fonts.gstatic.com/s/sourcecodepro/v7/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDs-cq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'FuturaStd';
  font-weight: 300;
  src: 
       url('/fonts/FuturaStd-Book.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'FuturaStd';
  font-weight: 600;
  src: 
       url('/fonts/FuturaStd-Bold.woff2') format('woff2'); /* Super Modern Browsers */
}


/*
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:900|Open+Sans');
*/


h1,h2,h3,h4,h5,h6 { 
  --size:  calc(1rem * 3.0 * var(--typoscale));
  
  font-family: var(--hero-font);
  font-size: var(--size);    
  line-height: var(--size);
  margin: var(--size) 0;

  orphans: 2;
  widows: 2
}

h2 {  --size:  calc(1rem * 2.00 * var(--typoscale)); }
h3 {  --size:  calc(1rem * 1.66 * var(--typoscale)); }
h4 {  --size:  calc(1rem * 1.33 * var(--typoscale)); }
h5 {  --size:  calc(1rem * 1.00 * var(--typoscale)); }
h6 {  --size:  calc(1rem * 0.66 * var(--typoscale)); }

/* Paragraphs and codes */
p { 
  padding: 0;
  margin: 0 0 1.5rem 0;
  line-height: 1.625rem;

  orphans: 2;
  widows: 2;
}

pre {
  padding: calc( 2 * var(--pad));
  margin: 0 0 1.5rem 0;
  background-color: var(--light-gray);
  overflow: auto;
}

code, pre, pre code {
  font-weight: 100;
  text-shadow: none;
  font-family: var(--code-font);
  font-size: 90%;
  overflow: hidden;
}

blockquote { 
  width: 100%; 
  margin: 0 0 1.5rem 0;
  padding-left: calc(2 * var(--gutter));
  font-size: 1rem; 
  border-left: 4px solid var(--light-gray);
}

.highlight { margin-bottom: 1.5rem; }
.highlight > pre { margin: 0; } 


/**
 * Links
 */
a { text-decoration: none; color: var(--second); }
a:hover { text-decoration: underline; }
a.no-hover:hover { text-decoration: none; }

a.default {
  position: relative;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
a.black {
  color: var(--black);
}
a.no-underline {
  &:hover { text-decoration: none !important; }
}
a.underline {
  text-decoration: underline;
}


/** 
 * A links without default style
 */
a.clean {
  margin: inherit;
  padding: inherit;
}



/**
 * Tables
 */
table {
  margin-bottom: 1.5rem;
  border-collapse: collapse;
  border-radius: var(--curve-soft);
  overflow: hidden;
  
  & thead {
    background-color: var(--front);
    color: var(--back);
    font-weight: bold;
    font-family: var(--hero-font);
  }
  & tr {
    border-bottom: 1px solid var(--gray);
    &:not(:last-child){
      border-bottom: 1px solid var(--gray);
    }
  }
  & td:first-of-type {
    border-left: 1px solid var(--gray);
  }
  & td:last-of-type {
    border-right: 1px solid var(--gray);
  }

  & th, & td {
    padding: calc( 2* var(--gutter));

    &:not(:last-child){
      border-right: 1px solid var(--gray);
    }
  }

}