{{ define "header" }}
  <div class="logo-container">
    {{ partial "logo" . }}
  </div>
{{ end }}
{{ define "main" }}
  <section>
    <article class="container grid :vertical w100">
      <section class="post-list">
        <h1 class="title align:center anim appearFromBottomCropped"><span>Blog</span></h1>
        <ol class="posts clean">
        {{- range first 10 .Data.Pages }}
          <li>
            <label>
              <time datetime="{{.PublishDate}}" class="date">
                {{ if eq .PublishDate.Year 1 }}
                  
                {{ else }}
                  {{ .PublishDate.Month }}
                  {{ .PublishDate.Day }},
                  {{ .PublishDate.Year }}
                {{ end }}
              </time>
              <div class="tag-list">
                {{ if isset .Params "tags"}}
                  {{- range first 5 .Params.tags }}
                    <span class="tags">{{.}}</span>
                  {{- end}}
                {{ end }}
              </div>
            </label>
            <div class="post-preview">
              <a class="title" href="{{ .Permalink }}">{{ safeHTML .Title }}</a>
              <p>{{ .Summary }}</p>
            </div>
          </li>
        {{- end }} 
        </ul>
      </section>
    </article> 
  </section>
{{ end }}

{{ define "footer"}}
  {{ partial "footer_links" . }}
  {{ partial "style_invert" .}}
{{ end }}
