{{ define "header" }}
<div class="logo-container">
  {{ partial "logo" . }}
</div>
{{ end }} 

{{ define "main" }}
<section class="post">
  {{ $featured := .Page.Resources.GetMatch "featured" }}
  <article id="post__showcase" class="anim appearFromBottom {{ if $featured }} featured {{ end }}
                                      {{ if $featured }}{{ $featured.Params.colorscheme }}{{end}}
                                      {{ if .Params.colorscheme }} {{ .Params.colorscheme }}{{end}}">
    <picture>
      {{ if $featured }}
        <img src="{{ $featured.Permalink }}">
      {{ end }}
    </picture>
    <div class="headline">
      <h1 class="title">{{ safeHTML .Title }}</h1>
      <h3 class="subtitle">{{ .Params.subtitle }}</h3>
    </div>
  </article>

  <article id="post__body" class="margin:auto grid :vertical :around">
      <div id="post__meta" class="meta">
          <div class="author">
            <h4 class="avatar">Vitor Calejuri</h4>
          </div>
          <div class="categories">
              {{ if isset .Params "tags"}}
              {{- range first 5 .Params.tags }}
                <span class="tags">{{.}}</span>
              {{- end}}
            {{ end }}
          </div>
    
          <div class="date">
              {{ if eq .PublishDate.Year 1 }}
                    
              {{ else }}
                <time datetime="{{.PublishDate}}">
                    {{ .PublishDate.Month }}
                    {{ .PublishDate.Day }},
                    {{ .PublishDate.Year }}                
                </time>
              {{ end }}
    
          </div>
      </div>
      <div id="post__body__content">
          {{ .Content }}
      </div>
  </article>
</section>
{{ end }} 

{{ define "footer"}} 
{{ partial "footer_links" . }} 
{{ partial "style_invert" .}} 
{{ end }}