{{ define "header" }}
  <div class="logo-container">
      {{ partial "logo" . }}
      <a href="#menu" class="menu-close">
        <svg class="icon__cnt"><use xlink:href="#ei-close-icon"></use></svg>
      </a>
  </div>
  {{ partial "nav" . }}
{{ end }}

{{ define "main" }}
<section>
  <article class="showcase">
      <section class="about color:second">{{ safeHTML .Params.subtitle }}</section>
      <section class="description">{{ safeHTML .Params.description }}</section>
  </article>
  <article id="content-body" class="info grid :vertical">
      {{ $related := where .Site.RegularPages "Section" "projects" }}
      {{ $class   := "list-isotope" }}
      {{ partial "card_list" (dict "list" $related "title" false "class" $class "contained" false) }}      
  </article>
</section>

{{ end }}

{{ define "footer" }}
  {{ partial "footer_links" . }}
  {{ partial "style_invert" .}}
{{ end }}
