{{ define "header" }}
  <div class="logo-container">
      {{ partial "logo" . }}
      <a href="#menu" class="menu-close">
        <svg class="icon__cnt"><use xlink:href="#ei-close-icon"></use></svg>
      </a>
  </div>
  {{ partial "nav" . }}
{{ end }}


{{ define "main" }}
<section class="work">
  <article class="showcase">
      <section class="about">{{ .Content }}</section>
  </article>
  <article id="content-body" class="info grid :vertical"></article>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "style_invert" .}}
{{ end }}
