{{ define "header" }}
  <div class="logo-container">
    {{ partial "logo" . }}
  </div>
{{ end }}
{{ define "main" }}
  <section class="project__info">
    <article class="margin:auto grid :vertical :middle :around">
      <picture class="project__logo">
        {{ $featured := .Page.Resources.GetMatch "featured" }}
        {{ if $featured }}
            <img src="{{ $featured.Permalink }}">
        {{ else }}
          <span>{{ safeHTML .Title }}</span>
        {{ end }}
      </picture>
      
      <table class="project__meta clean">
        <thead>
          <tr>
            <td>Source Code</td>
            <td>Site</td>
            <td>Created at</td>
            <td>Technology</td>
            <td>License</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <a href="http://{{ .Params.sourcecode }}" target="_blank" rel="noopener" class="icon icon--m black">
                  <svg class="icon__cnt"><use xlink:href="/images/_svgicons.svg#ei-sc-github-icon"></use></svg>
                  {{ .Params.sourcecode }}
              </a>
            </td>  
            <td>
              <a href="http://{{ .Params.website }}" target="_blank" class="clean value color-high">{{ .Params.website }}</a>
            </td>
            <td>
                <span class="value">{{ .Params.created_at}}</span>
            </td>
            <td>
                <span href="" class="value">{{ .Params.tech }}</span>
            </td>
            <td>
                <span href="" class="value">{{ .Params.license }}</span>          
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="project__description font-big">
        {{ safeHTML .Params.description }}
      </div>
      <hr/>
    </article>
  </section>
  <section class="project__body">
    <article class="margin:auto w70 grid :middle :between">
      {{ .Content }}
    </article>
    {{ if .Params.website }}
    <article class="margin:auto w25 grid :middle :between margin-vertical:padded">
        <a href="http://{{.Params.website}}" alt="{{.Params.website}}" 
          target="_blank" class="no-underline btn card :hero :primary :curved :card :href">
          <span>VISIT: </span>
        </a> 
    </article>
    {{ end }}
  </section>

  {{ $related := where .Site.RegularPages "Section" "projects" }}
  {{ $title   := "More projects" }}
  {{ $class   := "list-isotope" }}
  {{ partial "card_list" (dict "list" $related "title" $title "colorscheme" "gray" "class" $class) }}
{{ end }}


{{ define "footer"}}
  {{ partial "footer_links" . }}
  {{ partial "style_invert" .}}
{{ end }}