{{ define "header" }}
  <div class="logo-container">
    {{ partial "logo" . }}
  </div>
  {{ partial "nav" . }}
{{ end }}

{{ define "main" }}
  {{ $colorscheme := .Params.colorscheme | default "default" }}
  <section class="projects colorscheme:{{ $colorscheme}} ">
    <article class="showcase">
      <div class="overlay">
        <!--
        <div class="see-more">
          <div>Scroll to see more</div>
          <svg class="icon"><use xlink:href="#ei-chevron-down-icon"></use></svg>
        </div>
        -->
      </div>
      {{ .Content }}
    </article>
    <article id="content-body" class="info grid :vertical">
      
      <picture class="logo">
        {{ with .Params.logo }}
          <img src="{{ . }}">
        {{ end }}
        {{ if eq .Params.logo nil }}
          <h2>{{ safeHTML .Title }}</h2>
        {{ end }}
      </picture>

      <div class="description">
        {{ safeHTML .Params.description }}  
      </div>

      <div class="more">
        <!-- 
          <a href="http://{{.Params.website}}" target="_blank" class="btn :txt :primary margin:auto">{{.Params.website}}</a> 
        -->
        {{ if .Params.website }}
        <a href="http://{{.Params.website}}" alt="{{.Params.website}}" target="_blank" class="no-underline btn :hero :primary :curved :card :href">
          <span>VISIT: </span>
        </a> 
        {{ end }}
      </div>

      <!--
      <footer>
        <ul role="nav" class="horizontal clean featured bordered">
          {{if .PrevInSection}}
            <li class="w5"><a href="{{.PrevInSection.Permalink}}" class="default btn no-underline">◂</a></li>
          {{end}}
          {{if .NextInSection}}
            <li class="w5"><a href="{{.NextInSection.Permalink}}" class="default btn no-underline">▸</a></li>
          {{end}}
        </ul>
      </footer>
      -->
    </article>    
  </section>

  {{ $related := where .Site.RegularPages "Section" "projects" }}
  {{ $title   := "More Projects" }}
  {{ $class   := "list-isotope" }}
  {{ partial "card_list" (dict "list" $related "title" $title "class" $class "colorscheme" "gray") }}

{{ end }}


{{ define "footer"}}
  {{ partial "footer_links" . }}
  {{ partial "style_invert" .}}
{{ end }}