{{ define "header" }}
  <div class="logo-container">
      {{ partial "logo" . }}
  </div>
  {{ partial "nav" . }}
{{ end }}

{{ define "main" }}
<section class="work">
  <article class="showcase">
    <section class="about">{{ .Content }}</section>
  </article>
  <article id="content-body" class="info grid :vertical"></article>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "footer_links" . }}
  {{ partial "style_invert" .}}
  <script type="text/javascript" src="/js/vendor/vanilla-tilt.babel.min.js"></script>
{{ end }}
